body{
  /*background: url(../demo/3.jpg) no-repeat top center;*/
}
.body-position-fixed{
  position: fixed !important;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #F69295;
}

::selection {
  color: white; 
  background: #F69295;
}
.wt-a {
  text-decoration: none;
  color: #333;
}

.wt-a:hover {
  text-decoration: none;
  color: #333;
}

.wt-h1 {
  font-family: 'nexa_boldregular';
  font-size: 2.6vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 12.5vh;
}

.wt-h2 {
  font-family: 'Open Sans';
  font-size: 1.5vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 7.2vh;
  margin-top: 0px;
}
.wt-h22 {
  font-family: 'Open Sans';
  font-size: 1.3vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 7.22vh;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.05vw;
}

.wt-h3 {
  font-family: 'nexa_boldregular';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 4vh;
}

.wt-h4 {
  font-family: 'nexa_boldregular';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

.wt-p {
  font-family: "Open Sans";
  font-size: 1.3vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 4.5vh;
}

.wt-blockquote {
  font-family: "Open Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

.wt-pre {
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
 

.wt-header h1 {
  font-family: 'Open Sans';
}

.wt-header {
  font-family: 'Open Sans';
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in {
    /* NEW */
    display: block!important;
  }
}

.wt-navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #ffffff;
  border: 0;
  font-family: 'Open Sans';
  height: 80px;
}
.wt-navbar .navbar-header {
  margin-right: 0;
  margin-left: 0;
}
.wt-icon-bar {
  background-color: #F69295 !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}

.navbar-inverse .navbar-nav a {
  color: #333 !important;
  font-size: 19px;
  font-weight: bold;
}

.navbar-inverse .navbar-nav a:hover {
  color: #F69295 !important;
  background-color: #ffffff;
}

ul.nav.navbar-nav.navbar-left {
  margin-top: 21px;
  margin-left: 19px;
}

ul.nav.navbar-nav.navbar-right {
  margin-top: 20px;
  margin-right: -5px;
}

.navbar-right li:first-child {
  background-color: #F69295;
  border-radius: 5px;
  margin-right: 20px;
}

.navbar-right li:first-child a {
  color: #fff !important;
  padding: 10px 28px;
}

.navbar-right li:first-child a:hover {
  color: #333 !important;
}

.navbar-nav>li>a {
  padding: 10px 24px 10px 10px;
}

.hero {
  height: 84vh;
  background-image: url('../img/rent-a-dress-fashionpass-new.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  display: grid;
  align-items: center;
}

.btn-waitlist-big {
  background-color: #F69295;
  padding: 3% 0;
  color: #fff !important;
  font-size: 1.7vw;
  cursor: pointer;
  border-radius: 0.4vw;
  font-family: "Open Sans";
  font-weight: bold;
  display: inline-block;
  width: 20.5vw;
}

.btn-waitlist-big:hover {
  color: #333 !important;
  text-decoration: none !important;
}

.btn-waitlist-big:focus {
  text-decoration: none !important;
}

.head-text {
  color: white;
  font-size: 4.2vw;
  line-height: 10vh;
  margin-top: 1vh;
  
}
.spacer1vh
{
  margin: 0;
  padding: 0;
  height: 1vh;
}
.spacer3vh {
  margin: 0;
  padding: 0;
  height: 3vh;
}
.spacer105vh
{
  margin: 0;
  padding: 0;
  height: 10.5vh;
}
.spacer10vh
{
  margin: 0;
  padding: 0;
  height: 10vh;
}
.spacer5vh
{
  margin: 0;
  padding: 0;
  height: 5vh;
}
.spacer7vh
{
  margin: 0;
  padding: 0;
  height: 7vh;
}
.spacer9vh {
  margin: 0;
  padding: 0;
  height: 100px;
}
.spacer11vh
{
  margin: 0;
  padding: 0;
  height: 11vh;
}
.spacer113vh
{
  margin: 0;
  padding: 0;
  height: 11.3vh;
}
.spacer118vh
{
  margin: 0;
  padding: 0;
  height: 11.8vh;
}
.spacer125vh {
  margin: 0;
  padding: 0;
  height: 12.5vh;
}
.spacer21vh
{
  margin: 0;
  padding: 0;
  height: 21vh;
}
.spacer60 {
  margin: 0;
  padding: 0;
  height: 60px;
}

.spacer50 {
  margin: 0;
  padding: 0;
  height: 50px;
}

.spacer40 {
  margin: 0;
  padding: 0;
  height: 40px;
}

.spacer45 {
  margin: 0;
  padding: 0;
  height: 45px;
}

.spacer30 {
  margin: 0;
  padding: 0;
  height: 30px;
}

.spacer35 {
  margin: 0;
  padding: 0;
  height: 35px;
}

.spacer15 {
  margin: 0;
  padding: 0;
  height: 15px;
}

.spacer70 {
  margin: 0;
  padding: 0;
  height: 70px;
}

.spacer75 {
  margin: 0;
  padding: 0;
  height: 75px;
}

.spacer80 {
  margin: 0;
  padding: 0;
  height: 80px;
}

.spacer85 {
  margin: 0;
  padding: 0;
  height: 85px;
}

.pd10 {
  padding: 10px;
}

.pd20 {
  padding: 20px;
}

.pd30 {
  padding: 30px;
}

.nomp {
  padding: 0px !important;
  margin: 0px !important;
}

.imgHideonWeb1 {
  display: none !important;
}

section.container-fluid.ppp {
  padding-right: 4%;
  padding-left: 4%;
}

a.nav-link {
  padding: 0 15px !important;
}

@media (max-width: 767px) and (min-width: 298px) {
  .imgHideonMob1 {
    display: none !important;
  }
  .imgHideonWeb1 {
    display: block !important;
  }
}

.callout {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.callout img {
  width: 100%;
}

.pricespace {
  display: none;
}

@media (max-width: 991px) and (min-width: 767px) {
  .callout2 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .callout img {
    width: 80%;
  }
}

.capital {
  text-transform: uppercase;
}

.pinkbg {
  background-color: #F69295;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 60px 40px;
}

.carousel .carousel-control {
  left: 2.8%;
  width: 40px;
  height: 40px;
  margin-top: 15%;
  background: none;
  border: none;
}

.carousel .carousel-control.right {
  right: 4%;
  left: auto;
  border: none;
}

.carousel .carousel-indicators {
  top: auto;
  right: 50%;
  bottom: -10px;
  margin-right: -19px;
}

.carousel .carousel-indicators li {
  background: #cecece;
  margin: 0 10px;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100%;
}

.carousel .carousel-indicators .active {
  background: #333;
}

.carousel .item .row {
  clear: both;
  margin: 0;
}

.carousel .item .item__element {
  float: left;
  width: 25%;
  padding: 5px 0;
  text-align: center;
}

.carousel .item .item__element img {
  display: block;
  margin: 0 auto;
}

a.left.carousel-control {
  background: none;
  opacity: 1;
}

a.right.carousel-control {
  background: none;
  opacity: 1;
}

@media (min-width: 768px) {
  .carousel .item .item__element {
    width: 25%;
  }
}

ul#myTab {
  display: flex;
  justify-content: center;
  border: none;
  padding-bottom: 0px;
}

ul#myTab li {
  margin: 0px 2vw 5vh 2vw;
}

@media (max-width: 991px) and (min-width: 767px) {
 
  .btn-waitlist-big {
    padding: 15px 20px;
  }
}

@media (max-width: 767px) {
 
  ul#myTab li a h3 {
    font-size: 2.5vw !important;
  }
}

ul#myTab li a {
  border: none;
  padding-bottom: 0px !important;
  color: #333 !important;
}

ul#myTab li a:hover {
  background: none !important;
}

ul#myTab li a h3 {
  margin-bottom: 0.5vh;
    font-size: 1.3vw;
    font-family: 'Open Sans';
}

ul#myTab li.active a {
  border-bottom: 0.3vh solid #F69295 !important;
}

.wt-plan1 {
  margin: 0 auto;
  width: 336px;
  height: 391px;
  text-align: center;
  border: 2px solid #666;
  padding: 10px 10px;
}

.wt-panel {
  text-align: center;
    margin: 3vh 1.5vw;
}

.wt-panel:hover {
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);*/
}

.wt-panel-body {
  padding: 0px;
  text-align: center;
}

.the-price {
  padding: 3vh 2vw;
  margin: 0;
}
 

.the-price h1:after {
  content: '';
  width: 64px;
  height: 1px;
  border: 1px solid #F69295;
  display: block;
  margin: 0 auto;
  margin-top: 11px;
  background: #F69295;
}

.the-price p {
  font-size: 1.6vw;
  color: #F69295;
  font-family: "Open Sans";
}

/* h1#planname2 {
  margin-top: 4vh;
}

h1#planname3 {
  margin-top: 4vh;
} */

 

@media (max-width: 1200px) {
  .pricespace {
    display: block;
    height: 9px;
  }
}

.the-content {
  margin: 0;
  font-family: "Open Sans";
  margin-bottom: 5.5vh;
}

.the-content p {
  font-size: 1.5vw;
  line-height: 4.5vh;
}

.the-content h2 {
  font-weight: bold;
    line-height: 3.8vh;
    margin-bottom: 2.2vh;
    font-size: 1.8vw;
    margin-top: 1.3vh;
}

.the-content .rate2:before {
  content: '$';
  font-size: 0.6em;
  vertical-align: top;
  top: 0.6vh;
  position: relative;
}

.the-content .rate2 {
  font-size: 3vw;
  font-weight: bold;
  color: #F69295;
  line-height: 11vh;
}

.the-content .rate3 {
  font-size: 1.5vw;
  font-weight: bold;
  color: #F69295;
}

.wt-pricing1 {
  border: 0.15vw solid #666;
    padding-bottom: 1vh;
}

.wt-pricing2 {
  border: 0.2vw solid #F69295;
  /*padding-bottom: 1vh;*/
}

.wt-plan-btn {
  text-align: center;
  margin-top: -13%;
}

.btn-waitlist-big-price {
  text-transform: uppercase;
  background-color: #F69295;
  padding: 10px 0;
  color: #fff !important;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Open Sans";
  font-weight: bold;
  display: inline-block;
  width: 150px;
  height: 36px;
}

.btn-waitlist-big-price:hover,
.btn-waitlist-big-price:focus {
  text-decoration: none !important;
  background: #f5a6a9;
}

.quote-left {
  background-image: url('../img/bg-quote-left.jpg');
  background-size: cover;
  background-position: top right;
  height: 89.5vh;
}

.quote-right {
  background-image: url('../img/bg-quote-right.jpg');
  background-size: cover;
  background-position: top left;
  height: 89.5vh;
}

.wt-sign {
  width: 70%;
  margin-top: -25px;
}

@media (max-width: 1200px) and (min-width: 991px) {}

@media (max-width: 991px) and (min-width: 767px) {}

@media (max-width: 767px) {
  .corners {
    font-size: 3vw !important;
  }
}

.quote-right h1 {
  text-align: right;
  margin-right: 10%;
  margin-bottom: -4%;
  margin-top: 0;
  padding-top: 9%;
  font-family: 'nexa_boldregular';
  color: #F69295;
  font-size: 2.5vw !important;
}

.corners {
  position: relative;
  width: 90%;
  padding: 7%;
  margin: 0 auto;
  font-size: 1.6vw;
  text-align: justify;
  line-height: 4.3vh;
}

.top,
.bottom {
  position: absolute;
  width: 15%;
  height: 26%;
}

.top {
  top: 0;
  border-top: 0.6vh solid #F69295;
}

.bottom {
  bottom: 0;
  border-bottom: 0.6vh solid #F69295;
}

.left {
  left: 0;
  border-left: 0.6vh solid #F69295;
}

.right {
  right: 0;
  border-right: 0.6vh solid #F69295;
}

.joinstick {
  position: fixed;
  bottom: 0;
  padding: 0 !important;
  width: 100%;
}

.joinbox {
  background-color: #464646;
  padding: 20px;
  text-align: center;
}

#wt-footer {
  background: #FFF8F8 !important;
    font-family: "Open Sans" !important;
    margin-top: 2vh;
    margin-bottom: 15vh !important;
}

#wt-footer h4 {
  color: #333;
  font-size: 1.2vw;
}

#wt-footer a {
  color: #333;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#wt-footer ul.social li {
  padding: 3px 0;
}

#wt-footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#wt-footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#wt-footer ul.social li a,
#wt-footer ul.quick-links li a {
  color: #333;
}

#wt-footer ul.social li a:hover {
  color: #333;
}

#wt-footer ul.quick-links li {
  padding: 0;
  font-size: 1.2vw;
}

#wt-footer ul.quick-links li:hover {
  padding: 0;
  font-weight: 700;
}

#wt-footer ul.quick-links li a i {
  margin-right: 5px;
}

#wt-footer ul.quick-links li:hover a i {
  font-weight: 700;
}

.container-fluid.pricing {
  width: 86%;
}

.pricing>h1 {
  line-height: 200% !important;
}

.pricing>h2 {
  line-height: 6.2vh !important;
}

#wt-footer p {
  font-size: 1.1vw;
}

@media (max-width:767px) {
  #wt-footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .containerMobile span{
    font-size: 14px !important;
  }
}

#wt-join-bar {
  bottom: 0;
  width: 100vw;
  position: fixed;
  height: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2vh 0;
  z-index: 99;
}

#wt-join-bar h2 {
  font-family: 'nexa_boldregular';
  color: #fff;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  letter-spacing: 0.4vw;
}

#wt-join-bar input {
  border-radius: 0.3vw;
  border: none;
  height: 7vh;
  font-size: 1.4vw;
  font-family: 'nexa_lightregular';
  padding-left: 1.2vw;
}

#wt-join-bar .wt-join-block {
  margin: 20px 0;
}

#wt-join-bar .container-fluid {
  display: flex;
  align-items: center;
}

#wt-join-bar .pass-line {
  width: 16vw;
}

.item__element a p {
  padding-top: 5vh;
  font-size: 1vw;
  font-weight: bold;
}

#wt-footer .container-fluid {
  padding: 4vh 8.7vw;
}
#wt-join-bar div {
  padding: 0 !important;
  padding-right: 1vh !important;
}
.bar-btn {
  border-radius: 0.3vw;
  border: none;
  height: 7vh;
  font-size: 1.4vw;
  font-family: 'nexa_lightregular';
  background-color: #F69295;
  border-color: #F69295;
  float: left;
  padding: 0 1vw;
  width: 12vw;
}
.bar-btn:hover, .bar-btn:focus, .bar-btn:active{
  background-color: #F69295 !important;
  border-color: #F69295 !important;
}

@media (min-width: 1201px) {}

@media (max-width: 1200px) and (min-width: 992px) {
  .wt-logo {
    width: 250px;
    padding-left: 0;
    padding-top: 5px;
  }
  .wt-navbar {
    height: 70px;
    z-index: 1;
  }
  ul.nav.navbar-nav.navbar-left {
    margin-top: 15px;
    margin-left: 10px;
  }
  .navbar-nav>li>a {
    padding: 10px 20px 10px 10px;
  }
  .navbar-inverse .navbar-nav a {
    font-size: 16px;
  }
  ul.nav.navbar-nav.navbar-right {
    margin-top: 15px;
    margin-right: -35px;
  }
}
#email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc !important;
}
@media (max-width: 991px) and (min-width: 768px) {
  .wt-navbar {
    height: 70px;
    z-index: 1;
  }
  .wt-logo {
    width: 250px;
    padding-left: 0;
    padding-top: 5px;
  }
  button.navbar-toggle {
    margin-top: 18px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .wt-navbar {
    height: 70px;
    z-index: 1;
  }
  .wt-logo {
    width: 220px;
    padding-left: 0;
    padding-top: 2px;
  }
  button.navbar-toggle {
    margin-top: 18px;
    margin-right: 16px;
  }
  .btn-waitlist-big {
    font-size: 3vw;
    width: 30vw;
  }
  .head-text {
    color: white;
    font-size: 7vw !important;
    line-height: 7vh;
  }
  .wt-h1 {
    font-size: 5vw;
  }
  .wt-h2 {
    font-size: 3.3vw;
    line-height: 150%;
  }
  .wt-h22 {
    font-size: 3.3vw;
    line-height: 150%;
  }
  .wt-p {
    font-size: 3vw;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  a.nav-link {
    padding: 0 10px !important;
  }
  .carousel .carousel-indicators li {
    width: 3.2vw;
    height: 3.2vw;
  }
  .item__element a p {
    font-size: 2vw;
  }
  .the-price h1 {
    font-size: 7vw;
  }
  .the-price p {
    font-size: 4vw !important;
  }
  .the-content p {
    font-size: 3vw !important;
  }

  .the-content .rate2 {
    font-size: 8vw;
  }
  .the-content .rate3 {
    font-size: 4vw;
  }
  .the-price>.pricebefore:before {
    font-size: 4.5vw;
  }
  
  .wt-plan-btn {
    margin-top: -10%;
  }
  .quote-right h1 {
    font-size: 5vw !important;
  }

.wt-pricing1 {
  border: 0.5vw solid #666;
}

.wt-pricing2 {
  border: 0.8vw solid #F69295;
}
#wt-footer ul.quick-links li {
  font-size: 3vw;
}
#wt-footer h4 {
  font-size: 3.2vw;
}
#wt-footer p {
  font-size: 2.1vw;
}
#wt-join-bar h2 {
  font-size: 3vw;
  letter-spacing: 0;
}
#wt-join-bar input {
  font-size: 2vw;
  height: 5vh;
}
.bar-btn
{
  height: 5vh;
  font-size: 2vw;
}
#regForm .doubleinputl, #regForm .doubleinputr{

  float: none !important;
}
.pricing>h2 {
  line-height: 4vh !important;
}
}
@media (max-width: 991px) 
{
  .container-fluid.navi {
    background-color: white;
  }
  ul.nav.navbar-nav.navbar-right {
    margin-top: 7px;
    margin-left: 15px;
  }
  .navbar-right li a {
    padding-left: 14px !important;
  }
}
/* ========== MODAL STYLING ============= */
.modal-dialog
{
  width: 62vw;
  margin: 5vh auto;
}
.modal-body
{
  height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.modal-content {
  border-radius: 0;
  height: 90vh;
}
#regForm {
 width: 100%;
  min-width: 300px;
  text-align: center;
}
form#regForm .line {
  width: 200px;
}
form#regForm h1 {
  line-height: 25px;
  margin-bottom: 30px;
  font-size: 43px;
}
form#regForm .hp {
  color: #F69295;
  font-family: "Open Sans";
  font-size: 36px;
  margin-top: 0px;
  font-weight: 600 !important;
  margin-bottom: 5px !important;
}
form#regForm span {
  color: #F69295;
    font-family: "nexa_lightregular";
    font-size: 18px;
    line-height: 40px;
}
form#regForm .span2 {
  color: #F69295;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 0;
}
form#regForm p {
  margin-bottom: 40px;
  font-size: 17px;
  color: #404040;
}
#regForm input{
    border: 2px solid #ccc;
    height: 55px;
    font-family: 'Open Sans';
    width: 400px;
    text-align: center;
}
#regForm .doubleinputr{
  border: 1px solid #aaa0a1;
  height: 50px;
  font-size: 14px;
  font-family: "Open Sans";
  padding-left: 10px;
  width: 300px;
  text-align: left;
  float: right;
  border-radius: 0;
}
#regForm .doubleinputl{
  border: 1px solid #aaa0a1;
  height: 50px;
  font-size: 14px;
  font-family: "Open Sans";
  padding-left: 10px;
  width: 300px;
  text-align: left;
  float: left;
  border-radius: 0;

}
#regForm button
{
  text-transform: uppercase;
  background-color: #F69295;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-family: 'Open Sans';
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: 48px;
  width: 172px;
}
#regForm button img{
    width: 21px;
    padding-left: 3px;
    margin-top: -3px;
}
#regForm .button2 {
  background-color: #F69295;
  border-radius: 0.7vw;
  border: none;
  font-size: 1.2vw;
  font-family: "Open Sans";
  color: white;
  padding: 1.5vh 5vw;
  margin-top: 6vh;
}
#regForm .button3 {
  background-color: #F69295;
  border-radius: 0.7vw;
  border: none;
  font-size: 1.2vw;
  font-family: "Open Sans";
  color: white;
  padding: 1vh 3vw;
  margin-top: 1vh;
}
#regForm .button4 {
  background-color: #F69295;
    border-radius: 0.7vw;
    border: none;
    font-size: 1.2vw;
    font-family: "Open Sans";
    color: white;
    padding: 1vh 3.7vw;
    margin-top: 5vh;
}
#regForm .button5 {
  font-size: 1.2vw;
  font-family: "Open Sans";
  color: #a9a19e;
  background: none;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  top: 6vh;
  left: 0;
  text-decoration: underline;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
#regForm button:hover {
  text-decoration: none !important;
  background-color: #f5a6a9;
}
#regForm button:hover i {
  -webkit-text-stroke: 2px #f5a6a9 !important;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
button.close {
  z-index: 1;
  position: fixed;
  right: 0;
  margin-right: 2%;
  margin-top: 1%;
}
button.close span {
  font-size: 4vw;
  font-weight: 900;
  font-family: nexa_boldregular;
}
button.close:focus
{
 
}
button:focus{
  outline: 0;
}

select:focus,  input:focus
{
  outline-color: #f69295;
  outline: 1px;
  -webkit-box-shadow: 0px 0px 1px 0px #f69295; 
  -moz-box-shadow: 0px 0px 1px 0px #f69295;
  box-shadow: 0px 0px 1px 0px #f69295;
}
.form-control:focus {
   outline-color: #f69295 !important;
   outline: 1px;
   -webkit-box-shadow: 0px 0px 1px 0px #f69295; 
   -moz-box-shadow: 0px 0px 1px 0px #f69295;
   box-shadow: 0px 0px 1px 0px #f69295;
}


.mgbt4
{
  margin-bottom: 4vh !important
}
ul.list-unstyled.quick-links {
  margin-top: 2vh;
}
.carousel-inner .item .row {
  margin: 0 8vw !important;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
/*.bs-wizard > .bs-wizard-step + .bs-wizard-step {}*/
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #fc989d;
  font-family: "nexa_boldregular";
  font-size: 11px;
  line-height: 16px;
  margin-top: 20px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {    position: absolute;
  width: 35px;
  height: 35px;
  display: block;
  background: #fbbbc1;
  top: 12px;
  left: 49%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  cursor: auto;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: " ";
  width: 25px;
  height: 25px;
  background: #F69295;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #d17f84;
  padding: 7px;
  z-index: 999;
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot.step3:after {
  content: " " !important;
  font: normal normal normal 14px/1 FontAwesome;
  width: 25px;
  height: 25px;
  background: #F69295;
  border-radius: 50px;
  top: 5px;
  left: 5px; 
  color: #d17f84;
} 
.bs-wizard-main-box{ margin: 0px auto !important;  float: none !important; max-width: 720px;  padding-left: 25px;}
.bs-wizard{ border-bottom:0px !important; margin-top: 15px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 5px; box-shadow: none; margin: 14px 0;}
.bs-wizard > .bs-wizard-step.complete > .progress > .inner-bar.step2{
    width: 46% !important;
    left: 0px !important;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .inner-bar.step3{
  width: 100% !important;
    left: 0px !important;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .inner-bar{
      width: 100%;
      position: absolute;
      z-index: 9999;
      background: #F69295;
      height: 4px;
      left: 12px;
      top: 8px;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:100%; box-shadow: none; background: #fbbbc1;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e9ecef;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 1;background: #f5f5f5;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

#modalpricing h1 {
  font-size: 1.5vw !important;
  padding: 0 !important;
  margin: 0 !important;
}
#modalpricing .wt-panel.wt-panel-primary {
  margin: 0 0.5vw !important;
}
#modalpricing h1:before {
  display: none;
}
#modalpricing h1:after {
content: '';
    width: 3vw;
    height: 1px;
    border: 0.1vh solid #F69295;
    display: block;
    margin: 0 auto;
    margin-top: 0vh;
}

#modalpricing .the-price {
  padding: 2.5vh 0vw;
  margin: 0;
}

#modalpricing .the-content p {
  margin-bottom: 0vh;
  font-size: 0.7vw;
  line-height: 3vh;
}

#modalpricing .the-content h2 {
  font-weight: bold;
  line-height: 2.5vh;
  margin-bottom: 0;
  font-size: 1vw;
  margin-top: 0;
}
div#modalpricing {
  /*width: 80% !important;*/
}
#modalpricing .the-content .rate3 {
  font-size: 0.7vw;
    font-family: "Open Sans";
    line-height: 0;
    font-weight: 400;
}
#modalpricing .the-content .rate2 {
  font-size: 2vw;
    font-family: "Open Sans";
    line-height: 7vh;
}
#modalpricing .the-content {
  margin: 0;
  font-family: "Open Sans";
  margin-bottom: 1.5vh;
}
.row.bs-wizard {
  margin-bottom: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30px;
}
#modalpricing .wt-pricing1 {
  border: 0.1vw solid #a9a19e;
}
#modalpricing .wt-pricing2 {
  border: 0.1vw solid #a9a19e;
}
#regForm .input5 {
  border: 0.15vw solid #ccc;
  height: 5vh;
  font-size: 1.4vw;
  font-family: 'Open Sans';
  padding-left: 1.2vw;
  width: 100%;
  text-align: left;
  margin-bottom: 2vh;
}
.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #0ebeff;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #0ebeff;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #0ebeff;
  -ms-word-break: normal;
  word-break: normal;
}

/*
input:focus::-webkit-input-placeholder{

}
 input:focus::-webkit-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #404040;
    font-family: "Open Sans";
    font-weight: normal;
}
*/
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #404040 !important;
  opacity: 0.75; 
  font-weight: 300 !important;
  font-style: normal !important;
  font-variant: normal;
  font-family: "Open Sans";
  font-size: 16px !important;
  padding: 0px;
  margin: 0px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #404040;
  font-size: 50px !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #404040;
  font-size: 50px !important; 
}

span.form-steps{
  font-family: "Open Sans" !important;
  font-size: 14px !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}
.form-container{
  margin-top: 40px;
  text-align: left;
}
.form-container span{
  color: #404040 !important;
  display: block;
  font-family: "Open Sans" !important;
  font-weight: 600;
}
.form-container .form-field{
    border:1px solid #404040!important;
    height: 40px !important;
    width: 187px !important;
    text-align: left !important;
    font-size: 16px !important;
    padding-left: 15px;
    border-radius: 0px !important;

}
.form-container .col-left, .form-container .col-right{
    float: left;
    margin-bottom: 16px;
    position: relative;
}
.form-container .col-left{
    margin-right: 45px;
}