<div class="footer-area" style="padding-top:0">
    <div class="container">
        <div class="row">
          <div class="secure-footer"  *ngIf="showFooter == 'true'" >
            Safe and Secure SSL Encrypted Payment <br>
            <i class="fa fa-lock" aria-hidden="true"></i> Powered by <b>stripe</b>
          </div>
          
        </div>
    </div>
    <div class="footerLogoArea" *ngIf="lastOrderCheck == 'false'"><a class="logo-area"><img src="assets/img/fashionpass-logo-white.png" class="wt-logo"></a></div>
</div>