<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
</head>
<body>

  <!--<div class="global-pink text-center black-bar-top">
    <a class="" href="#"><img src="assets/img/fashionpass-logo-white.png" class="wt-logo"></a>
  </div>--> 
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

</body>
</html>