form#regForm .hp{
    text-transform: uppercase;
}
.profile-error{
    text-align: left;
    position: absolute;
    font-size: 13px;
    width: 120%;
} 
.form-container{
    width: 420px;
    margin: 0px auto;
    margin-top: 15px;
}
#regForm button{
    width: 225px;
    height: 45px;
    margin: 0px auto;
    margin-top: 34px;
}
.tab-top-space{
    padding-top: 22px !important;
}
.form-container span {
    font-size: 14px !important;
    line-height: 35px !important;
}
.bs-wizard > .bs-wizard-step:last-child > .progress .progress-bar{
    background:#e9ecef;
}
.bs-wizard > .bs-wizard-step.disabled > .progress > .progress-bar {
    background: #e9ecef;
}

.dress_size{
    width: 84px !important;
    float: left;
    border: 1px solid #404040!important;
    height: 40px !important;
    text-align: left !important;
    font-size: 16px !important;
    padding-left: 15px;
    border-radius: 0px !important;
}
.dress_size:first-child { 
    margin-right: 20px;
  }
.bs-wizard-main-box{
    padding-left: 15px !important;
}
@media only screen and (max-width: 500px) {
    .form-container{
        width: 95%;
    }
    .form-container .form-field{
        width: 100% !important;
        margin-right:0px !important;
        float: none !important;
    }
    .form-container .col-left,.form-container .col-right{
        margin-right:0px !important;
        float: none !important;
        margin-bottom: 20px;
    }
    #regForm button {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .dress_size {
        width: 47% !important;
        float: left;
    }
    .dress_size:first-child { 
        margin-right: 5%;
      }
    form#regForm .hp{
        font-size: 30px;
        line-height: 30px;
    }
    .profile-error{
        width: auto !important;
    }
    .containerMobile{
        padding-right: 5px;padding-left: 5px;
    }
}

