<app-header></app-header>
<div class="container">
  <div class="row">
      <ngx-spinner bdColor = "rgba(255, 255, 255, 0.8)" size = "default" color = "#000" type = "ball-clip-rotate-pulse"></ngx-spinner>
      
 
  <form id="regForm" action="" role="form" [formGroup]="ProfileForm" (ngSubmit)="submitProfile()" autocomplete="off" >
      <div class="container containerMobile">
            <div class="tab tab-top-space">
              <div *ngIf="customer_type == 'vip' || waitTime == '0'" >

                  <!-- <span class="timer-line">Your spot on the waitlist is being held for the next:
                    <b><countdown #countdown [config]="{leftTime: 300 }" (finished)="showFinishMessage()">$!m!:$!s!</countdown></b>
                  </span><br> -->
                  <div class="container" style="max-width: 100%;">
                      <div class="row" >
                          <div class="col-md-9 col-xs-11 bs-wizard-main-box">
                              <div class=" bs-wizard"  >
                    
                                  <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step complete">
                                    <div class="text-center bs-wizard-stepnum"></div>
                                    <div class="progress">
                                      
                                      <div class="progress-bar"></div></div>
                                    <a  class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Create<br>my profile</div>
                                  </div>
                                  
                                  <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step disabled"><!-- complete -->
                                    <div class="text-center bs-wizard-stepnum"></div>
                                    <div class="progress">  
                                      <div class="progress-bar"></div></div>
                                    <a  class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Select<br>my plan</div>
                                  </div>
                                  
                                  <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step disabled"><!-- active -->
                                    <div class="text-center bs-wizard-stepnum"></div>
                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a class="bs-wizard-dot step3"></a>
                                    <div *ngIf="(waitTime != '0')"   class="bs-wizard-info text-center">Submit</div>
                                    <div *ngIf="(waitTime == '0')"  class="bs-wizard-info text-center">Choose<br>my items</div>
                                  </div>
                                </div>
                          </div>
                      </div>
    
                  </div>
                    
              </div>

              <div *ngIf="customer_type == 'general' && waitTime != '0'" >
                <h1 class="wt-h1 hp">Complete your profile</h1>
                <span class="form-steps">( step 2 of 2 )</span>
              </div>
              <div class="form-container">

                  <div class="col-left">
                      <span>First name</span>
                      <input id="first_name"  class="form-field" (keypress)="CharactersOnly($event)" required formControlName="first_name"  placeholder="" minlength="3" maxlength="20" />
                      <div *ngIf="showError == true && ProfileForm.controls.first_name.value.length == 0 && (ProfileForm.controls.first_name.dirty || ProfileForm.controls.first_name.errors?.required || ProfileForm.controls.first_name.touched)" class="error profile-error">
                        *First Name is required
                      </div>
                      <div *ngIf="showError == true && (ProfileForm.controls.first_name.errors?.minlength || ProfileForm.controls.first_name.errors?.pattern || ProfileForm.controls.first_name.errors?.whitespace)" class="error profile-error">
                        *Please enter a valid First Name
                      </div>
                  </div>
                  <div class="col-right">
                      <span>Last name</span>
                      <input id="last_name" class="form-field" (keypress)="CharactersOnly($event)" required formControlName="last_name"  placeholder="" minlength="3"  maxlength="20" />
                      <div *ngIf="showError == true && ProfileForm.controls.last_name.value.length == 0 && (ProfileForm.controls.last_name.dirty || ProfileForm.controls.last_name.errors?.required || ProfileForm.controls.last_name.touched)" class="error profile-error">
                        *Last Name is required
                      </div>
                      <div *ngIf="showError == true && ( ProfileForm.controls.last_name.errors?.minlength || ProfileForm.controls.last_name.errors?.pattern || ProfileForm.controls.last_name.errors?.whitespace)" class="error profile-error">
                        *Please enter a valid Last Name
                      </div>
                  </div>

                  <div class="clearfix"></div>

                  <!-- <div class="col-left">
                      <span>Dress size</span>
                      <div class="clearfix"></div>
                      <div> 
                        <select class="form-control  dress_size" id="dress_size" required formControlName="dress_size" >
                          <option value=""selected>--</option>
                          <option value="XS">XS</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                          <option value="XXL">XXL</option>
                        </select>
                      
                          <select class="form-control   dress_size" id="dress_size2" required formControlName="dress_size2" >
                            <option value="" selected>--</option>
                            <option value="0">0</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                          </select>
                        </div>
                        <div class="clearfix"></div>
                        
                        <div *ngIf="showError == true && ( ProfileForm.controls.dress_size.value.length == 0 ||  ProfileForm.controls.dress_size2.value.length == 0 ) && (ProfileForm.controls.dress_size.dirty || ProfileForm.controls.dress_size.errors?.required && ProfileForm.controls.dress_size.touched || ProfileForm.controls.dress_size2.dirty || ProfileForm.controls.dress_size2.errors?.required || ProfileForm.controls.dress_size2.touched)" class="error profile-error">
                          *Dress Size is required
                        </div>
                        <div *ngIf="ProfileForm.controls.dress_size.errors?.pattern && ProfileForm.controls.dress_size.touched" class="error profile-error">
                          *Only numbers are allowed
                        </div>
                  </div> -->
                  <div class="col-left">
                    <span>Birthday</span>
                    <input type="tel" id="birthday" class="form-field" required formControlName="birthday"  placeholder="MM/DD/YYYY"  mask="00/00/0000" autocomplete="off" />
                    <div *ngIf="showError == true && ProfileForm.controls.birthday.value.length == 0  &&( ProfileForm.controls.birthday.dirty ||  ProfileForm.controls.birthday.errors?.required  || ProfileForm.controls.birthday.touched)" class="error profile-error">
                      *Birthday is required
                    </div>
                    <div *ngIf="showError == true && (ProfileForm.controls.birthday.errors?.pattern && ProfileForm.controls.birthday.touched && ProfileForm.controls.birthday.dirty) " class="error profile-error">
                        *Please enter valid Birthday
                    </div>
                  </div>
                  <!-- <div class="col-right">
                      <span>Top size</span>
                      <select class="form-control form-field" id="top_size" required formControlName="top_size" >
                          <option value="">--</option>
                          <option value="XS">XS</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                          <option value="XXL">XXL</option>
                        </select>
                        <div *ngIf="showError == true && ProfileForm.controls.top_size.value.length == 0 && ( ProfileForm.controls.top_size.dirty || ProfileForm.controls.top_size.errors?.required || ProfileForm.controls.top_size.touched)" class="error profile-error">
                          *Top Size is required
                        </div>
                  </div> -->
                  <div class="col-right">
                    <span>Password</span>
                    <input type="password" id="password" class="form-field" required formControlName="password"    minlength="6" autocomplete="new-password"  />
                    <div *ngIf="showError == true && ProfileForm.controls.password.value.length == 0  && (ProfileForm.controls.password.dirty || ProfileForm.controls.password.errors?.required || ProfileForm.controls.password.touched)" class="error profile-error">
                      *Password is required
                    </div>
                    <div *ngIf="showError ==true && ProfileForm.controls.password.errors?.minlength" class="error profile-error">
                      *Password must be at least 6 characters
                    </div> 
                </div>
                  <!-- <div class="col-right">
                    <span>Phone number</span>
                    <input (focus)="clearPhoneError()" id="phone_number" formControlName="phone_number" (input)="SetPhoneValidation($event)" value="" class="form-field"  type="tel"  required  mask="(000) 000-0000" minlength="10" maxlength="14" >
              
                      <div *ngIf="showError == true && ProfileForm.controls.phone_number.value.length == 0  && (ProfileForm.controls.phone_number.dirty || ProfileForm.controls.phone_number.errors?.required || ProfileForm.controls.phone_number.touched)" class="error profile-error">
                        *Phone Number is required
                      </div>
                      <div *ngIf="ProfileForm.controls.phone_number.value.length > 0 && ProfileForm.controls.phone_number.value.length < 10 && showError == true && phone_number_error == 'false'" class="error profile-error">
                        *Please enter a valid Number
                      </div>

                      <div *ngIf="showValidationError == 'true' && phone_number_error != 'false'" class="error profile-error">
                          *{{ phone_number_error }}
                      </div>
                  </div> -->
                  
                  <!-- <div class="col-right">
                    <span>How did you hear about us?</span>
                      <select (change)="surveyOptionsChange($event.target)" *ngIf="showOtherSurvey == false" class="form-control form-field" id="customer_survey" required formControlName="customer_survey"  >
                        <option value="">--</option>
                        <option value={{i.title}} *ngFor="let i of surveyOptions">{{i.title}}</option>
                        <option value="">Other</option>
                      </select>
                      <input *ngIf="showOtherSurvey == true" placeholder="Other desc. (optional)" type="text" id="customer_survey" class="form-field" formControlName="customer_survey" />
                        <div *ngIf="showOtherSurvey != true  && showError == true && ProfileForm.controls.customer_survey.value.length == 0" class="error profile-error">
                          *Please let us know how you heard about us :)
                        </div>
                  </div> -->
                  <div class="clearfix"></div> 
                  <div class="text-center">
                    <button type="submit" id="nextBtn">{{SubmitButtonText}}</button>
                    <!--[disabled]="!ProfileForm.valid" -->
                  </div>
              </div>
              
            </div>
      </div>    
</form> 
<form  role="form" [formGroup]="ProfileFormSignin" style="visibility: hidden;"  *ngIf="showProfileFormSignin == true" (ngSubmit)="submitEmailAddress()" >   
  <div class="container">
      <div class="row">
        <div class="content-box  email-content-box ">
            <div class=" " style="width: 100%;"> 
                <input id="aa"  required formControlName="email"  placeholder="Email address"  (input) = "hideError()"  (focus)="checkError()" />
                <br><input id="bb"  type="password" required formControlName="password"  placeholder="*******" />
                <br>
                <button #ProfileFormSigninForm type="submit" id="cc">{{SubmitButtonText}}</button>
            </div>
          </div>
        </div>
  </div> 
</form> 
</div>
</div>

<app-footer></app-footer>