<app-header></app-header>
<div class="container">
    <div class="row">

      <form id="regForm" action="">
          <div class="tab tab-top-space">
            <div class="img-container" >
                <img src="assets/img/cheers.svg" class="step3-img"> 
            </div>
            <h1 class="text-center"><span class="loveheading" title="CHEERS, BABE!">CHEERS, BABE!</span></h1>
            <div class="container">
                <div class="row">
                    <div class="text-content">
                        <span class="sub-head" *ngIf="(waitTimeHours < 49)" >Your membership has been created!<br><br>Your account will be activated within {{waitTime}}.</span>
                        <span class="priorityWaitlistText" *ngIf="(waitTimeHours > 0)" >Thanks for joining the waitlist!<br>Your spot has been reserved and we can't wait to<br>welcome you to the FashionPass community!</span>
                        <div class="button-box">
                            <button type="button" class="" id="nextBtn" (click)="gotoReward()" >Redeem Rewards <img src="assets/img/Arrow-FashionPass.svg" /></button>
                        </div> 
                        
    <p class="text-center first-line">In the meantime, share FashionPass with your girl gang and <a (click)="gotoReward()"> <span> unlock awesome VIP rewards</span></a>! </p>
    <div class="pink-line"></div>
    <!-- <p class="text-center last-line"><strong>Q: How long until I’m off the waitlist? </strong> <br>
    <b>A:</b><b>  we’ll notify you via text and email </b>as soon as your spot opens up.
    </p><br>
    <span style="color:black; font-size:19px;" class="purchaseWaitTIme"><span class="current-wait">CURRENT WAIT TIME: <span style="font-size: 19px;font-family: 'Open Sans' !important; font-weight: 700;">{{waitTime}}</span></span></span> -->
                    </div>
                </div>
             </div>
             

            </div>
      </form>


  </div>
</div>
<app-footer></app-footer>