.redline{
    color:#F69295;
    font-size: 1.2vw !important;
    font-weight: bold;
}
.img-container{
    min-height:100px ;
}
form#regForm .hp{
    font-size: 1.5em !important;
}
form#regForm p{
    margin-bottom: 15px;
}
.step6-img{
    width: 150px;
}
.sub-head{
    font-family: 'Open Sans' !important;
    font-size: 30px !important;
    font-weight: 600;
    padding-bottom: 10px;
}
.text-content{
    max-width: 750px;
    width: 100%;
    margin: 0px auto;
}
.button-box{
    margin: 40px 0px 30px 0px;
}
#regForm button{
    width: 250px;
}
.first-line span{
    font-family: 'Open Sans' !important;
    text-decoration: underline;
}
.pink-line{
    width: 200px;
    border-top: 2px solid #F69295;
    margin: 0px auto;
    margin-top:50px;
    margin-bottom:50px;
}
@media (max-width: 767px) {
    .tab-top-space{
        width: 80%;
        margin: 0px auto !important;
    }
    #regForm button{
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .tab-top-space{
        line-height: 25px;
    }
    .tab-top-space{
        padding-bottom: 50px;
    }
    .loveheading{
        font-size: 40px !important;
    }
    
}
.tab-top-space{ 
    padding-top: 40px !important; 
}

.first-line a{ cursor: pointer;}
#regForm button i{
    -webkit-text-stroke: 2px #e99797;
}
.last-line b{
    font-weight: 600;
}
.step3-img{
    width: 150px;
}
.priorityWaitlistText{
    color: gray !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 30px !important;
}
