/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i');
@import url('assets/css/wt-main.css');
@import url('assets/fonts/stylesheet.css');

body{
    font-family: 'Open Sans';
    position: absolute;
    min-height: 100%;
    width: 100%;
}
.black-bar-top { color: #fff;}
.black-bar-top a{ color: #fff; font-size: 35px;}
.global-pink{
    background-color: #F69295 !important;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.wt-logo{
    max-width:260px;
    margin: 5px;
}
.bottom-curve {
    margin-top: 50px;
    height: 77px;
    overflow: hidden;
    position: relative;
    z-index: 14;
    border-bottom: 1px solid #F69295;
}
.footer-area{
    margin-top: 130px;
    background: #F69295;
    font-weight: 400;
    width: 100%;
    height: 100px;
    padding-top: 15px;

    position: absolute;
    bottom: 0px;
}
.wt-logo-footer{
    max-width:200px;
    margin-bottom: 5px;
}
.box-center{
    text-align: center;
}
.box-right{
    text-align: right;
    border-bottom: 1px solid #c5c5c5;
    height: 20px;
}
.box-left{
    text-align: right;
    border-bottom: 1px solid #c5c5c5;
    height: 20px;
}
.main-container{
    min-height: 600px;
}
.tab-top-space {
    padding-top: 50px !important;
    display: block;
    position: relative;
    margin-bottom: 140px;
}
button:disabled,
button[disabled]{
  border: 1px solid #ffb3ba  !important;
  background-color: #ffb3ba  !important;
  color: #fff;
}
button:disabled:hover,
button[disabled]:hover{
    opacity: 1!important;
}
.error{ color: #f00 !important; padding-top: 0px; }

.top-close-icon{
    text-align: right;
        
}
.top-back-icon{
    text-align: center;
    
}
.top-back-icon i{
    font-size: 50px;
    line-height: 60px;
    cursor: pointer;
    -webkit-text-stroke: 1px #F69295;
   /* display: none;*/
}

.top-close-icon i{
    font-size: 2.5vw;
    -webkit-text-stroke: 6px #F69295;
    line-height: 6vh;
    cursor: pointer;
}
.top-icons-bar{
    position: absolute;
    top:0px;
}
.loading-text{
    position: fixed !important;
}
@media only screen and (max-width: 767px) {
    .bottom-curve, .footer-area{
        display: none;
    }
    .text-before-pricing{ padding: 10px;}
    .text-before-pricing{ font-size: 18px; }
}
@media only screen and (max-width: 500px) {
    input, input.form-control,  select.form-control{
        font-size: 16px !important;
    }
    .hide-phone{
        display: none;
    }
    form#regForm h1 {
        font-size: 30px;
    }
    .tab-top-space{
        margin-bottom: 0px; 
    }
    .footer-area{
        display: block;
        position: relative;
        margin-top: 0px;
        height: 60px;
    }
    .firstPageFooter .footer-area{
        position: absolute;
    }
}
.black-overlay{
    position: fixed !important;
}
/*countdown.count-down::first-letter {
    visibility: visible;
}*/
.count-down .hand-m .digital-0:first-child {
    display: none;
}
.wt-panel{
    cursor: pointer;
}
.plan-outer-box:hover  .btn-waitlist-big-price{
    text-decoration: none !important;
    background: #f5a6a9 !important;
}


/***** Hilighted Heading ***/
.loveheading {
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    font-size: 55px !important;
    text-align: center;
    color: #fff !important;
    letter-spacing: 0.5px;
    line-height: 1 !important; 
    position: relative;
    display: inline-flex;
    pointer-events: none;
}
.loveheading:before, .loveheading:after {
    content: attr(title);
    position: absolute;
    width: 100%;
}
.loveheading:before {
    top: -0.2rem;
    left: 0.09rem;
    color: rgba(22, 154, 165, 0.42);
    z-index: 1;
}
.loveheading:before, .loveheading:after {
    content: attr(title);
    position: absolute;
    width: 100%;
}
.loveheading:after {
    color: #fff;
    left: 0.3rem;
    text-shadow: -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121;
    z-index: 0;
}
.content-box{
    max-width: 550px;
    width: 100%;
    margin: 0px auto;
}

.text-before-pricing{
    text-align: center;
    font-size: 18px;
    margin-top:25px;
    font-weight: 500;
    color: #404040;
}
.secure-footer{
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}
.secure-footer b{
    font-variant: normal;
    font-style: normal;
    font-weight: 600;
}
.secure-footer i{
    font-size: 16px;
    padding-right: 2px;
    position: relative;
    width: 15px;
    height: 10px;
}
.secure-footer .fa-lock:before {
    position: absolute !important;
    top: -2px !important;
    left: 2px !important;
}

/*****/
.socialp {
    width: 275px;
    height: 87px;
    position: fixed;
    z-index: 100;
    background-image: url('assets/img/social-proof-bg-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -20vh;
    transition: all 2s ease 0s;
    /* bottom: 7px; */
    margin-left: calc(50% - 166px);
}

.socialp span {
    display: block;
}

.socialp2 {
    bottom: 55px !important;
    display: block;
}

.socialp3 {
    bottom: -87px !important;
    display: block;
    
}

.scpinner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 13px 10px 0 79px;
    color: #404040
}

.scpclose {
    position: absolute;
    top: 7px;
    right: 9px
}

span.scpspan1 {
    font-size: 12px;
}

span.scpspan1 span {
    display: inline-block;
}

span.scpspan2 {
    font-size: 16px;
    font-weight: 700;
}

span.scpspan3 {
    font-size: 11px;
}
.gift_code::placeholder {text-transform: lowercase!important;}
.current-wait{
    font-size: 19px !important;
    color:#000000 !important;
    font-weight: 700;
}
.current-wait span{
    font-family: "nexa_boldregular" !important;
    color:#000000 !important;
}
.vip_waitlist_box .current-wait span{
    font-family: "nexa_boldregular" !important;
    color:#F69295 !important;
}
.purchaseWaitTIme .current-wait{
    line-height: 20px !important;
}