.top-close-icon {
    height: 60px;
}

.top-close-icon svg {
    width: 24px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.svg-container {
    display: flex;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .top-close-icon .svg-container {
        float: right;
    }

    .top-back-icon {
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .wt-logo {
        max-width: 100% !important;
    }

    .top-close-icon svg {
        width: 20px;
    }

    .top-back-icon i {
        font-size: 40px;
    }
}

/* promotion header css start */
.promoHeader{
    display: flex;
    text-transform: uppercase;
}

.promoHeader .back-icon {
    font-size: 40px;
    display: flex;
    align-items: center;

}

.promoHeader .promoHeaderInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promoHeader span.offer p {
    font-size: 18px !important;
    text-align: left;
}

.promoHeader span.offer .numberBox {
    font-size: 36px;
    border: 1px solid;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.promoHeader span.useCode {
    font-size: 25px;
    text-align: right;
}

.promoHeader span.getOff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promoHeader span.getOff p {
    font-size: 48px;
    margin-right: 5px
}

.promoHeader p {
    margin-bottom: 0;
}

.promoHeader .fontBold {
    font-family: 'nexa_boldregular';
}

.promoHeader .fontLight {
    font-family: 'nexa_lightregular';
}

.promoHeader span.getOff span {
    text-align: left;
}

@media screen and (max-width:767px) {
    .mobileStyles{
        padding:0;
    }
    .promoHeader.desktop {
        display: none;
    }

    .promoHeader.mobile .promoHeaderInner{
        width:90%;
    }

    .promoHeader span.offer .numberBox{
        width: 40px;
        height: 40px;
        margin-left:5px;
        padding-top:4px;
        padding-left:2px;
    }

    .promoHeader.mobile {
        display: flex;
        font-size: 15px;
        padding: 8px;
        justify-content: space-between;
    }

    .promoHeader span.getOff p {
        font-size: 28px;
        margin-right: 0px;
        line-height: 1;
    }

    .promoHeader span.getOff span{
        font-weight: 900;
    }

    .promoHeader span.offer p {
        font-size: 13px !important;
        display: flex;
        align-items: center;
        text-align: right;
    }

    .promoHeader span.useCode {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 4px;
    }

    .promoHeader span.getOff {
        display: flex;
        flex-direction: column;
    }

    .head-text.wt-h1 {
        font-family: 'nexa_boldregular' !important;
    }
    .promoHeaderInner.promoShort {
        justify-content: center !important;
    }
    .promoHeaderInner.promoShort .getOff{
        margin-right:20px;
    }
}

@media screen and (min-width:768px) {
    .promoHeader.desktop {
        display: flex;
    }

    .promoHeader.mobile {
        display: none;
    }
    .promoHeaderInner.promoShort {
        justify-content: center !important;
    }
    .promoHeaderInner.promoShort .getOff{
        margin-right:50px;
    }
}
.couponAppliedBar{
    background-color: #fae3e3;
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    margin-top: -2px;
    color: #fff;
    font-size: 16px;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    font-family: 'nexa_boldregular';
    color: #000;
}
/* promotion header css end */