<div class="global-pink text-center black-bar-top" *ngIf="lastOrderCheck == 'false'">
  <div class="container-fluid">
    <div class="">
      <div class="col-sm-12 col-xs-12 mobileStyles">
        <div class="promoHeader desktop">
          <div class="col-sm-1 col-xs-2 top-back-icon ">
            &nbsp;
            <a *ngIf="showBackBtn == true" class="button5" (click)="gotoPlans()"><i class="fa fa-angle-left"
                aria-hidden="true"></i></a>
          </div>
          <div [ngClass]="(fp_waitlist_step == 0)?'promoHeaderInner col-sm-10':'promoHeaderInner col-sm-10 promoShort'">
            <span class="offer" *ngIf="fp_waitlist_step == 0">
              <p class="fontBold" style="display: flex;align-items: center;">Spots Left: <span
                  class="numberBox" id="numberBox"></span>
              </p>
            </span>
            <span class="getOff">
              <p class="fontBold">$30 OFF</p>
              <span class="fontLight">
                <span class="fontBold">Your First Month</span><br> Limited Time Offer
              </span>
            </span>
            <span class="useCode fontLight">
              Use code: <span class="fontBold">WELCOME</span>
            </span>
          </div>
          <div class="top-close-icon col-sm-1">
            <div class="svg-container" *ngIf="hideCross=='false'">
              <svg preserveAspectRatio="none" (click)="gotoMainSite()" fill="#fff" xmlns="http://www.w3.org/2000/svg"
                version="1" viewBox="6 6 12 12">
                <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="promoHeader mobile">
          <div class="top-back-icon">
            <a *ngIf="showBackBtn == true" class="button5" (click)="gotoPlans()"><i class="fa fa-angle-left"
                aria-hidden="true"></i></a>
          </div>
          <!-- {{fp_waitlist_step}} -->
          <!-- <div *ngIf='fp_waitlist_step == 0' class="promoHeaderInner"> -->
          <div class="" [ngClass]="(fp_waitlist_step == 0)?'promoHeaderInner':'promoHeaderInner promoShort'">

            <span class="offer" *ngIf="fp_waitlist_step == 0">
              <p class="fontBold">spots<br> left
                <span class="numberBox"></span>
              </p>
            </span>
            <span class="getOff">
              <p class="fontBold">$30 OFF</p>
              <span class="fontLight">Limited Time!</span>
            </span>
            <span class="useCode">
              code: <span class="fontBold">WELCOME</span>
            </span>
          </div>
          <div class="top-close-icon">
            <div class="svg-container" *ngIf="hideCross=='false'">
              <svg preserveAspectRatio="none" (click)="gotoMainSite()" fill="#fff" xmlns="http://www.w3.org/2000/svg"
                version="1" viewBox="6 6 12 12">
                <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="couponAppliedBar" *ngIf="checkCustomerPromo == 'true'">
    <i class="fa fa-check-circle" aria-hidden="true"></i> $5 COUPON APPLIED
  </div>
</div>
<div class="global-pink text-center black-bar-top" *ngIf="lastOrderCheck == 'true'">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-xs-2 top-back-icon ">
        &nbsp;
        <a *ngIf="showBackBtn == true" class="button5" (click)="gotoPlans()"><i class="fa fa-angle-left"
            aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-10 col-xs-8 ">
        <a class="logo-area"><img src="assets/img/fashionpass-logo-white.png" class="wt-logo"></a>
      </div>

      <div class="col-sm-1 col-xs-2 top-close-icon">
        <div class="svg-container" *ngIf="hideCross=='false'">
          <svg preserveAspectRatio="none" (click)="gotoMainSite()" fill="#fff" xmlns="http://www.w3.org/2000/svg"
            version="1" viewBox="6 6 12 12">
            <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>