<app-header></app-header>
<div class="container">
  <div class="row"> 
      <ngx-spinner bdColor = "rgba(255, 255, 255, 0.8)" size = "default" color = "#000" type = "ball-clip-rotate-pulse"></ngx-spinner>
      
        <div class="tab tab-top-space step1_tab ">
            <!-- <img src="assets/img/pass-the-line.jpg" class="line"> -->
            <h1 class="text-center home-heading" style="margin-bottom: 30px;margin-top: 30px;"><span id="HomeLoveheading" class="loveheading" title="CREATE A PROFILE">CREATE A PROFILE</span></h1>
            <!-- <div class="right-left-flag">
                <p class="imgHideonMob1"><i>Holy chic</i>, we’re at capacity! We’re working <br> around the clock to let more members in ASAP.</p>
                <p class="imgHideonWeb1"><i>Holy chic</i>, we’re at capacity! <br> We’re working to let members in ASAP.</p>
            </div> -->
            <div class="vip_waitlist_box">
                <form id="regForm" role="form" [formGroup]="vip_wt_form" (ngSubmit)="submitVIPCustomer()">
                  <div class="emailBoxArea" [ngStyle]="{'margin': check30Credit == '0' ? '25px' : '80px' }" style="margin:25px;">
                      <!-- <p style="margin:25px;"><span style="color:black; font-size:19px;"><span class="current-wait">CURRENT WAIT TIME: <span style="font-size: 19px;font-family: 'Open Sans' !important; font-weight: 700;">{{waitTime}}</span></span></span></p> -->
                      
                      <!-- <h1 id="small_heading" class="head1 text-center"><span  class="loveheading" title="WAITLIST">WAITLIST</span></h1>
                      <p>
                          Pre-order your first month.<br>
                          Your card will <b>NOT</b> be charged until your <br> 
                          membership is activated.
                      </p> -->
                      <div class="points-box">
                          <ul class="tick-li">
                              <!-- <li><i class="fa fa-check" aria-hidden="true"></i>Front of the line access</li> -->
                              <li *ngIf="ApplyBlackFriday == false"><i class="fa fa-check" aria-hidden="true"></i>Unlimited orders</li>
                              <li *ngIf="ApplyBlackFriday == false"><i class="fa fa-check" aria-hidden="true"></i>Free shipping both ways</li>
                              <li *ngIf="ApplyBlackFriday == true && check30Credit == '1'"><i class="fa fa-check" aria-hidden="true"></i> <b>BLACK FRIDAY: 50% OFF</b> your first month</li>
                              <li><i class="fa fa-check" aria-hidden="true"></i>Free dry cleaning</li>
                              <li><i class="fa fa-check" aria-hidden="true"></i>Chat a stylist anytime</li>
                              <li><i class="fa fa-check" aria-hidden="true"></i>30-50% off all purchases</li>
                          </ul>
                      </div>

                    <div class="content-box  email-content-box ">
                        <div class="email-box-home" > 
                            <input style="margin-top: 15px !important;" id="email" type="email"  required formControlName="email"  placeholder="ENTER EMAIL ADDRESS"  (input) = "hideError()"  (focus)="checkError()" />
                        </div>
                        <div class="button-box-home">
                            <!-- <button type="submit">Join Waitlist <img src="assets/img/Arrow-FashionPass.svg" /> </button> -->
                            <button type="submit"> CREATE PROFILE </button>
                        </div> 
                        <div class="clearfix"></div>
                    </div>
                    <div style="position: relative;">
                        <div *ngIf="(showValidationErrorVip == true &&  vip_wt_form.controls.email.value.length == 0 ) || (showValidationErrorVip == true && vip_wt_form.controls.email.errors?.required && vip_wt_form.controls.email.dirty && vip_wt_form.controls.email.touched)" class="error">
                            *Email is required
                          </div>
                          <div *ngIf="(  vip_wt_form.controls.email.errors?.pattern && showValidationErrorVip == true && invalidEmailErrorVip != true  ) || vip_wt_form.controls.email.errors?.CheckFirstLetter" class="error">
                              *Email must be a valid email address
                          </div>

                          <div *ngIf="invalidEmailErrorVip == true   " class="error"  id="invalidEmailError">
                            *Email must be a valid email address
                          </div>

                          <!--<div *ngIf="expandedError == true  && !vip_wt_form.controls.email.errors?.required" class="error"  id="EmailAlreadyTakenError">
                            *Email has already been taken
                          </div>-->
                          <div class="clearfix"></div>
                    </div>
                    <!-- <div class="points-box" style="margin-top: 25px;">
                      <p>Your card will <b>NOT</b> be charged until your membership is activated</p>
                    </div> -->
           
                  </div>  
              </form>

            </div>
            
            <!--<div class="general_waitlist_box">
                <form id="regForm" role="form" [formGroup]="EmailForm" (ngSubmit)="submitEmailAddress()">
                  <div class="">
                      <p style="margin:15px;"><span style="color:black; font-size:19px;"><strong>CURRENT WAIT TIME:</strong></span> <span style="font-weight:900; font-family:'Open Sans'; font-size:19px;">&nbsp; 4 WEEKS</span></p>
                      <h1 id="small_heading" class="head1 text-center"><span class="loveheading" title="GENERAL WAITLIST">GENERAL WAITLIST</span></h1>
                      <p>
                          Enter your email address. <br>
                          We’ll email you if a spot opens up.
                      </p>    
 
                      <p class="imgHideonMob1">
                          We will only begin accepting general waitlist members <br>
                          <b><u>after</u></b> all VIP waitlist members have been let in.
                      </p>
                     <p class="imgHideonWeb1" id="p2mob" >
                          We will only begin accepting general <br> waitlist members 
                          <b><u>after</u></b> all VIP waitlist <br> members have been let in.
                      </p>
                    <div class="content-box  email-content-box ">
                        <div class="email-box-home" > 
                            <input id="email" type="email" required formControlName="email"  placeholder="Email address"  (input) = "hideError()"  (focus)="checkError()" />
                        </div>
                        <div class="button-box-home">
                            <button type="submit" id="smallBtn">Join Waitlist <img src="assets/img/Arrow-FashionPass.svg" /> </button>
                        </div>
                        <div class="clearfix"></div> 
                    </div>
                    <div style="position: relative;">
                        <div *ngIf="(showValidationError == true &&  EmailForm.controls.email.value.length == 0 ) || (showValidationError == true && EmailForm.controls.email.errors?.required && EmailForm.controls.email.dirty && EmailForm.controls.email.touched)" class="error">
                            *Email is required
                          </div>
                          <div *ngIf="(  EmailForm.controls.email.errors?.pattern && showValidationError == true && invalidEmailError != true  ) || EmailForm.controls.email.errors?.CheckFirstLetter" class="error">
                              *Email must be a valid email address
                          </div>
  
                          <div *ngIf="invalidEmailError == true   " class="error"  id="invalidEmailError">
                            *Email must be a valid email address
                          </div>
  
                          <div *ngIf="expandedError == true  && !EmailForm.controls.email.errors?.required" class="error"  id="EmailAlreadyTakenError">
                            *Email has already been taken
                          </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>  
                </form>
            </div>--> 
            <div class="clearfix"></div>


        </div>   
  </div>
</div>
<app-footer class="firstPageFooter"></app-footer>