#regForm button{
    width: 240px;
}
.email-box-home{
    padding-bottom: 10px;
}
.tab-top-space{
    padding-top: 0px !important;
}
#regForm{
    min-width: 200px !important;
}
.step1_tab p {
    margin-bottom: 30px;
    font-size: 17px;
    color: #404040;
    text-align: center;
} 
h1.home-heading{
    margin-bottom: 20px;
}
.vip_waitlist_box{
    border:2px dotted #F69295; 
    width: 525px; 
    max-width: 100%; 
    height:355px;
    /* float: left;
    margin-left: 30px; */
    margin: 0 auto;
}
.vip_waitlist_box p{
    font-size: 17px !important;  
    margin-bottom: 15px !important;
}
.vip_waitlist_box b{
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
}
loveheading:before {
    top: 0 !important;
    left: 4px !important;
    color: rgba(22,154,165,.42) !important;
    z-index: 1 !important;
}
.right-left-flag p{
    color: #fff;
    line-height: 30px;
    font-weight: bold;
}

.right-left-flag p br{
    display: none;
}

.right-left-flag {
    position: relative;
    background: #F69295;
    height: 30px;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 880px;
}
.right-left-flag:before, .right-left-flag:after {
    border-style: solid;
    height: 0;
    width: 0;
    display: block;
    content: "";
    position: absolute;
}

.right-left-flag:before, .right-left-flag:after {
    border-color: #F69295 transparent;
    top: 0;
}
.right-left-flag:before {
    left: -20px;
    border-width: 15px 0px 15px 20px;
}
.right-left-flag:after {
    right: -20px;
    border-width: 15px 20px 15px 0;
}
.vip_waitlist_box .head1:before, .vip_waitlist_box .head1:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f006";
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 30px;
    color: #F69295;
 }
.vip_waitlist_box .head1:before{
    margin-right: 25px;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(57deg);
    -moz-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    -o-transform: rotate(57deg);
    transform: rotate(57deg);
    display: inline-block;
}
.vip_waitlist_box .head1:after{
    margin-left: 25px;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
}

.general_waitlist_box{
    border:2px dotted #F69295; 
    width: 525px; 
    max-width: 100%; 
    height:455px;
    float: right;
    margin-right: 30px;
}
.general_waitlist_box .email-content-box{
    padding-top: 21px;
}
.general_waitlist_box .button-box-home button#smallBtn{
    width: 210px;
}
.points-box{
    text-align: left; 
    width:395px; 
    max-width: 100%; 
    margin:0px auto; 
    font-weight: 500; 
    font-size: 16px; 
    margin-bottom: 20px;
}
.tick-li{
    font-size: 16px;
    list-style: none; 
    line-height: 30px;  
}
.tick-li i{
    color: #A1D5D9 !important;
    font-size: 22px;
    padding-right: 8px;
}
.tick-li b{
    font-weight: 700 !important;
}
.head1 .loveheading {
    font-size: 30px !important;
    letter-spacing: 2px;
}
.hide_mesg{
    display: none;
}
 
.content-box i{
    font-family: 'Open Sans' !important;
}
.content-box b{
    font-weight: 600 !important;
}
.error{
    font-size: 14px !important;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
form#regForm h1 {
    margin-bottom: 20px !important;
    margin-top: 10px;
}
/*.email-box-home #email:focus{
    border: 2px solid #F69295 !important ;
    outline: none;
}*/
.email-box-home #email{
    max-width: 315px;
    width: 100%;
    text-align: center;
    padding-left: 10px; 
    height: 47px !important;
    border: 1px solid #404040;
    
} 
.content-box {
    max-width: 620px !important;
}
.email-box-home #email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #404040;
    opacity: 0.75; /* Firefox */
    font-weight: lighter !important;
    font-size: 18px;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #404040;
    opacity: 0.75; /* Firefox */
    font-weight: lighter;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #404040;
    opacity: 0.75; /* Firefox */
    font-weight: lighter !important;
  }

@media only screen and (max-width: 991px) {
    .right-left-flag{
        width: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .right-left-flag{
        width: 400px;
        max-width: 100%;
    }
    .right-left-flag{
        height: 64px;
    }
    .right-left-flag p br{
        display: block;
    }
    .right-left-flag:before {
        left: -20px;
        border-width: 32px 0px 32px 20px;
    }
    .right-left-flag:after {
        right: -20px;
        border-width: 32px 20px 32px 0;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
        .vip_waitlist_box, .general_waitlist_box{
            width: 48%;
            margin: 0px auto;
            margin-bottom: 20px;
        }
}
@media only screen and (max-width: 991px) {
    .vip_waitlist_box, .general_waitlist_box{
        width: 525px;
        margin: 0px auto;
        margin-bottom: 30px ;
        float: none;
    }
}
@media only screen and (min-width: 561px) {
    #small_heading .loveheading:before, #small_heading .loveheading:after{
        left: 0rem;
        top:0rem;
    }
}
@media only screen and (max-width: 767px) {
    #p2mob{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 560px) {
    
    .email-box-home #email{
        height: 43px !important;
        text-align: center;
    }
    .vip_waitlist_box #small_heading, .general_waitlist_box #small_heading{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .right-left-flag{
        width: 320px;
        max-width: 100%;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .right-left-flag:before{
        left: -20px;
        border-width: 25px 0px 25px 20px;
    }
    .right-left-flag:after {
        right: -20px;
        border-width: 25px 20px 25px 0;
    }
    .step1_tab p{
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 12px !important;
    }
        .step1_tab p br{
            
        }
        .content-box {
            max-width: 100%;
        }   
        .points-box{
            width: auto !important;
        }
        .points-box ul li{
            width:65%;
            text-align: left;
            margin: 0 auto;
        }
        .button-box-home, .email-box-home{
            width: 100%;
            float: none;
            margin-left:0px;
        }
        .email-box-home #email{
            width: 90%;
        }
        .error{
            text-align: center;
            margin-left: 0px;
            position: relative;
            margin: 0px;

        }
        
        .tick-li i{
            font-size: 18px;
        }
        .tick-li{
            padding-left: 0px;
            font-size: 16px;
        }
        .general_waitlist_box p{
            margin-bottom: 20px !important; 
        }
        /* #regForm button{
            padding-right: 3px;
        } */
        #p2mob{
            margin-bottom: 0px !important; 
        }
        #regForm button{
            font-size: 18px !important;
            height: 44px;
        }
        .vip_waitlist_box, .general_waitlist_box{
            float: none; 
            margin: 0px auto;
            margin-bottom: 40px;
            height: auto;
            width: 350px;
            padding: 5px;
            margin-top: 30px;
        }
        .email-content-box {
            margin-bottom: 10px;
        }
        .home-heading{
            /* display: none; */
        }
       
        .vip_waitlist_box .head1:before {
            margin-right: 15px; display: none;
        }
        .vip_waitlist_box .head1:after{
            margin-left: 15px; display: none;
        }
        /** LOVE Heading ****/
        .loveheading, .loveheadingpink {
            font-size: 3rem !important;
        }
        .loveheading:before {
            top: -0.04em;
            left: 0.19rem;
        }
        .loveheading:after {
            text-shadow: -1px -1px 0 #555, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777;
            opacity: 0.75;
        }
        .emailBoxArea{
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
        /** LOVE Heading END ****/
    }
 
    
     
.email-content-box   {  margin-top: 0px; }
