.tab-top-space {
    padding-top: 22px !important;
}
.timer-line{
    font-size: 14px !important;
}

form#regForm h1 span{
    line-height: 25px;
    padding: 0;
    margin: 0;
    font-family: 'nexa_boldregular';
    font-size: 23px !important;
    white-space: nowrap;
    margin-bottom: 0px !important;
    color: #333;
}
.bs-wizard > .bs-wizard-step:last-child > .progress .progress-bar{
    background:#e9ecef;
}

.tick-li{
    font-size: 16px;
    list-style: none; 
    line-height: 30px;  
    margin-top: 20px;
    padding-left: 0px;
}
.tick-li i{
    color: #A1D5D9 !important;
    font-size: 22px;
    padding-right: 8px;
}
.tick-li b{
    font-weight: 700 !important;
}
.tick-li li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/* .pink-border{
    border: 2.5px solid #F69295 !important;
} */
.flex-row{
    max-width: 780px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    min-width: 250px;
    justify-content: space-around;
}

.wt-pricing1 {
    border: 1.5px solid #404040;
    padding-bottom: 1px;
}
.wt-panel {
    text-align: center;
    margin: 10px 10px;
}
.wt-panel-body {
    padding: 0px;
    text-align: center;
}
.the-price {
    padding: 0px 0px 0px 0px;
    margin: 0;
    padding-bottom: 5px;
}
.the-price h1 {
    padding: 0;
    margin: 0;
    font-family: 'nexa_boldregular';
    font-size: 34px !important;
    white-space: nowrap;
    margin-bottom: 0px !important;
}
/* h1#planname1,h1#planname3 {
    margin-top: 16px;
} */
.the-content {
    margin: 0;
    font-family: "Open Sans";
    margin-bottom: 32px;
}
.the-content p {
    font-size: 14px !important;
    margin-top: 7px;
    margin-bottom: 0px !important;
}
.the-content h2 {
    font-weight: bold;
    line-height: 1;
    font-size: 17px;
    margin-top: 1px;
}
.at-time{
    line-height: 15px;
    padding-bottom: 4px !important;
}
.the-content .rate2 {
    font-size: 28px !important;
    font-weight: bold !important;
    color: #F69295;
    line-height: 2 !important;
    font-family: "Open Sans" !important; 
    
}
.the-content .rate2.newCustomer{
    font-size: 3.5rem;
    font-weight: 700;
    color: #000 !important;
    line-height: 1.7;
    text-decoration: line-through;
    text-decoration-color: #f69295;
}
.the-content .rate2:before {
    content: '$';
    font-size: 1.5rem;
    vertical-align: top;
    top: 11px;
    position: relative;
}
.the-content .rate3 {
    font-size: 18px !important;
    font-weight: 700;
    color: #000 !important;
    font-family: "Open Sans" !important; 
}
.wt-plan-btn {
    text-align: center;
    margin-top: -20px;
}
.wt-pricing2 {
    border: 3px solid #F69295;
    /*padding-bottom: 10px;*/
}
.wt-panel {
    text-align: center;
    margin: 0px;
    margin-top: 25px;
}
h1#planname2 {
    margin-top: 0px;
    line-height: 20px;
}
.pricespace {
    display: none;
}
/* .the-price h1#planname2:after{
    margin-top: 9px !important;
}
.the-price>.pricebefore:before {
    content: "Most Popular";
    display: grid;
    color: #F69295;
    font-size: 15px;
    font-weight: normal;
    margin-top: -35px;
    font-family: 'nexa_lightregular';
    line-height: 17px;
} */

.wt-pricing2 .the-content{
    margin-bottom: 40px !important;
}

.pink-border .the-content{
    margin-bottom: 33px;
}
.view-mobile{ display: none;}

@media (max-width: 1199px) and (min-width: 991px) {
   
}
@media (max-width: 990px) and (min-width: 767px) { 
    .wt-plan-btn{
        margin-top: -40px;
        margin-bottom: 20px;
    }
    .plan-outer-box .wt-panel{
            margin-bottom: 20px !important;
    }
}
  
@media only screen and (max-width: 767px) {
        .view-desktop{
            display: none;
        }
        .view-mobile{
            display: block;
        }
        .cancelAnyTime.desktop{
            display: none;
        }
        .blackFridayDealLine h2{
            line-height: 40px;
            font-size: 25px;
        }
}
@media only screen and (min-width: 768px) {
    .cancelAnyTime.mobile{
        display: none;
    }
}
.plan-outer-box .wt-panel {
    width: 100%;
}
.plan-outer-box {
    width: 230px;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
} 

@media (max-width: 767px) and (min-width: 500px) {
    .container.pricing {
        width: 450px;
        margin: 0px auto;
    } 
    .plan-outer-box .wt-panel{
        margin: 0px auto !important;
        margin-bottom: 20px !important;
    }
    form#regForm h1 span{
        font-size: 20px !important;
    }
    .wt-plan-btn{
        margin-top: -40px;
    }
    .plan-outer-box{
        margin-bottom: 20px;
    }
    .pink-border{
        border: 2px solid #404040 !important;
    }
    .flex-row{
        margin-top:25px; 
    } 
    .plan-outer-box .wt-panel {
        width: 230px;
        margin: 0px auto;
    }
    .plan-outer-box {
        width: 45%;
    } 
    .plan-outer-box.col-xs-12{
        width: 100% !important;
    }

   
    .tick-li li:nth-child(3) {
    /*    display: block;*/
      }
      .first-month{
        display: block;
        margin-left: 200px;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    
} 

@media only screen and (max-width: 690px) and (min-width: 500px){
    
}
@media only screen and (max-width: 499px) {
    .cancelAnyTime{
        margin-bottom: 30px;
    }

    .plan-outer-box{
        float: none;
        width: 100%;
        margin: 0px auto;
        clear: both;
        margin-top: 10px;
    }
    .plan-outer-box:last-child{
        margin-bottom: 10px;
    }
    .plan-outer-box .wt-panel{
            width: 210px;
            margin: 0px auto;
    }

    form#regForm span{ line-height: 25px;} 
    .text-before-pricing{
        font-size: 16px;
    }
    .text-before-pricing br{
        display: none;
    }
    .tick-li i{
        font-size: 20px;
    }
    .tick-li{
        padding-left: 5px; 
        text-align: left;
    } 
    .tick-li.oldUser{
        padding-left: 25px; 
    }
    .tick-li li{
        display: block;
    }
    .points-box{
        width: 265px;
        margin: 0px auto;
    }

    .first-month{
        display: block;
        margin-left: 30px;
        line-height: 0;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .cancelAnyTime{
        margin-top: 0px !important;
    }
}
.cancelAnyTime{
    font-style: italic;font-size: 14px;margin-top: 10px;
}
.blackFridayDealLine h2{
    text-align: center;
    font-weight: bold;
}

.blackFridayDealLine {
    width: 100%;
    margin-top: 20px;
}


@media (max-width:767px) {
    .planTimerMobile{
        display: block !important;
    }
    .planTimerDesktop{
        display: none;
    }
    .desktopBr{
        display: none;
    }
}
.pricing .roundsticker
{
    position: absolute;
    background-color: #B3D5D9;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 55px;
    left: -22px;
    display: table;
}

.pricing .roundsticker .round-inner
{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans' !important;
}
.pricing .roundsticker .round-inner .round-inner1
{
    font-size: 9px !important;
    display: block;
    text-align: center;
    color: white !important;
    font-weight: 600;
    font-family: 'Open Sans' !important;
    line-height: 1.2 !important;
}
.pricing .roundsticker .round-inner .round-inner2
{
    font-size: 24px !important;
    display: block;
    text-align: center;
    color: white !important;
    font-weight: bold;
    font-family: 'Open Sans' !important;
    line-height: 1.2 !important;
}
@media only screen and (device-width:1199px),
only screen and (max-width:1199px) {
    .pricing .roundsticker {
        width: 65px;
        height: 65px;
    }
    .pricing .roundsticker .round-inner .round-inner1 {
        font-size: 8px !important;
    }
    .pricing .roundsticker .round-inner .round-inner2 {
        font-size: 24px !important;
    }
}
@media only screen and (device-width:991px),
only screen and (max-width:991px) {
    .pricing .roundsticker {
        width: 55px;
        height: 55px;
    }
    .pricing .roundsticker .round-inner .round-inner1 {
        font-size: 6px !important;
    }
    .pricing .roundsticker .round-inner .round-inner2 {
        font-size: 20px !important;
    }
}
@media only screen and (device-width:767px),
only screen and (max-width:767px) {
    .pricing .roundsticker {
        top: 60px;
        left: -35px;
        width: 65px;
        height: 65px;
    }
    .pricing .roundsticker .round-inner .round-inner1 {
        font-size: 8px !important;
    }
    .pricing .roundsticker .round-inner .round-inner2 {
        font-size: 24px !important;
    }
}
@media only screen and (device-width:320px),
only screen and (max-width:320px) {
    .pricing .roundsticker {
        top: 60px;
        left: -15px;
        width:55px;
        height: 55px;
    }
    .pricing .roundsticker .round-inner .round-inner1 {
        font-size: 6px !important;
    }
    .pricing .roundsticker .round-inner .round-inner2 {
        font-size: 18px !important;
    }
}
.spotAvailArea{
    /* margin-top: 20px; */
    display: block;
    color:#DE3135 !important;
    font-size:16px;
    font-family: "Open Sans" !important;

}
.useCodeMsg{
    color: #f69295;
    font-size: 14px !important;
    font-family: 'Open Sans' !important;
}