<app-header></app-header>
<div class="container">
    <div class="row">
      <ngx-spinner bdColor = "rgba(255, 255, 255, 0.8)" size = "default" color = "#000" type = "ball-clip-rotate-pulse"></ngx-spinner>
      <form id="regForm" action="">
          <section id="pricing" class="tab-top-space tab">
              <span style="display: none;" class="timer-line">Your spot on the waitlist is being held for the next:
                  <b><countdown #countdown [config]="{leftTime: counterLeftTime }" (finished)="showFinishMessage()">$!m!:$!s!</countdown></b>
                </span>
                <span *ngIf="(waitTimeHours < 49 && waitTimeHours > 0)" class="timer-line" style="font-family:nexa_boldregular">Your membership will be activated within <span style="font-family:nexa_boldregular;font-size: 14px;">{{waitTime}}</span>.</span><br>
              <div class="container" >
                  <div class="row" >
                      <div class="col-md-9 col-xs-11 bs-wizard-main-box" >
                          <div class=" bs-wizard"  >
                
                              <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step complete">
                                <div class="text-center bs-wizard-stepnum"></div>
                                <div class="progress">
                                  
                                  <div class="progress-bar"></div></div>
                                <a  class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center">Create<br>my profile</div>
                              </div>
                              
                              <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step complete"><!-- complete -->
                                <div class="text-center bs-wizard-stepnum"></div>
                                <div class="progress">  
                                  <div class="progress-bar"></div></div>
                                <a  class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center">Select<br>my plan</div>
                              </div>
                              
                              <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step disabled"><!-- active -->
                                <div class="text-center bs-wizard-stepnum"></div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a class="bs-wizard-dot step3"></a>
                                <div *ngIf="(waitTime != '0')"   class="bs-wizard-info text-center">Submit</div>
                                <div *ngIf="(waitTime == '0')"  class="bs-wizard-info text-center">Choose<br>my items</div>
                              </div>
                            </div>
                      </div>
                  </div>

              </div>
                
              <div class="points-box">
                  <ul class="tick-li" *ngIf="lastOrderCheck == 'false' && ApplyPauseCustomerView == 'false'">
                      <li><i class="fa fa-check" aria-hidden="true" ></i>Unlimited orders</li>
                      
                      <li *ngIf="ApplyBlackFriday == false" ><i class="fa fa-check" aria-hidden="true"></i>Chat a stylist anytime</li>

                      <li *ngIf="ApplyBlackFriday == true" >
                          <i class="fa fa-check" aria-hidden="true"></i> 
                          <b>BLACK FRIDAY: 50% OFF</b> 
                          <font class="view-desktop"> your first month</font>
                          <font class="view-mobile first-month">your first month</font>
                      
                      </li>
                      <br class="desktopBr">
                      <li ><i class="fa fa-check" aria-hidden="true"></i>Free shipping & dry cleaning</li>
                      <li ><i class="fa fa-check" aria-hidden="true"></i>30-50% off all purchases</li>
                  </ul>
                  
                  <ul class="tick-li" *ngIf="ApplyPauseCustomerView == 'true'">
                      <li>GET <B>$20 OFF </B> SOCIALITE</li>
                      <li>GET <B>$30 OFF </B> TRENDSETTER</li>
                      <li>GET <B>$40 OFF </B> WANDERLUST</li>
                  </ul>

                  <ul class="tick-li oldUser" *ngIf="lastOrderCheck == 'true' && ApplyPauseCustomerView == 'false' ">
                    <li *ngIf="check30Credit == '1'"><i class="fa fa-check" aria-hidden="true"></i>Unlimited swaps</li>
                    <li *ngIf="check30Credit == '1'"><i class="fa fa-check" aria-hidden="true"></i>Free Dry Cleaning</li>
                    <li *ngIf="check30Credit == '1'"><i class="fa fa-check" aria-hidden="true"></i>Free Shipping</li>
                  </ul>
              </div>
              <!-- <div class="planTimerMobile" style="display:none">
                <p style="margin:25px;"><span style="color:black; font-size:19px;"><span class="current-wait">CURRENT WAIT TIME: <span style="font-size: 19px;font-family: 'Open Sans' !important; font-weight: 700;">{{waitTime}}</span></span></span></p>
              </div> -->
              <div class="cancelAnyTime mobile"><b>No commitments, cancel anytime.</b></div>
              <div class=" pricing">
                
                <div class="row flex-row">
                 
                 
                  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 plan-outer-box">
                    <div class="wt-panel wt-panel-primary wt-pricing1"  (click)="purchasePlane('socialite',SocialitePlanPrice)" style="position: relative;">
                      <div class="roundsticker" *ngIf="lastOrderCheck == 'false'">
                        <div class="round-inner">
                          <span class="round-inner2">$49</span>
                          <span class="round-inner1">FIRST<br>MONTH</span>
                          
                        </div>
                      </div>
                      <div class="wt-panel-body">
                        <span class="spotAvailArea socialite"><b>{{this.plansSpotsLeft.socialite}}</b> {{this.plansSpotsLeft.socialite == 1 ? "spot left" : "spots left"}}</span>
                        <div class="the-price">
                          <!-- <h1 id="planname1">SOCIALITE</h1> -->
                          <h1 id="planname1">
                              <span class="char1" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(2px) translateZ(0px) rotate(-3deg);">S</span>
                              <span class="char2" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(-2deg);">O</span>
                              <span class="char3" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(-1deg);">C</span>
                              <span class="char4" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">I</span>
                              <span class="char5" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">A</span>
                              <span class="char6" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">L</span>
                              <span class="char7" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(1deg);">I</span>
                              <span class="char8" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(2deg);">T</span>
                              <span class="char9" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(2px) translateZ(0px) rotate(3deg);">E</span>
                            </h1>
                        </div>
                        <div class="the-content">
                          <p>UNLIMITED RENTALS</p>
                          <h2>2 Clothing Items</h2>
                          <h2>+ 1 Accessory</h2>
                          <p class="at-time">AT A TIME</p>
                          <!-- <span class="rate2"><b>79</b></span> <span class="rate3">/mo</span>  -->
                          <span *ngIf="lastOrderCheck == 'false'" class="rate2 newCustomer"><b>79</b></span> 
                          <span *ngIf="lastOrderCheck == 'true'" class="rate2"><b>79</b></span> <span class="rate3">/mo</span>
                        </div>
                      </div>
                    </div>
                    <div class="wt-plan-btn" style="position: relative;"> <a class="btn-waitlist-big-price" (click)="purchasePlane('socialite',SocialitePlanPrice)" >Select Plan</a> </div>
                    <span class="useCodeMsg" *ngIf="lastOrderCheck == 'false'">USE CODE: <b>WELCOME</b></span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 plan-outer-box">
                    <div class="wt-panel wt-panel-primary wt-pricing1 pink-border" (click)="purchasePlane('trendsetter',TrendsetterPlanPrice)" style="position: relative;">
                      <div class="roundsticker" *ngIf="lastOrderCheck == 'false'">
                        <div class="round-inner">
                          <span class="round-inner2">$79</span>
                          <span class="round-inner1">FIRST<br>MONTH</span>
                          
                        </div>
                        <!-- <div class="round-inner"><span class="round-inner1">+ FREE <br> SURPRISE BONUS<br>ITEM</span></div> -->
                      </div>
                      <div class="wt-panel-body">
                        <span class="spotAvailArea trendsetter"><b>{{this.plansSpotsLeft.trendsetter}}</b> {{this.plansSpotsLeft.trendsetter == 1 ? "spot left" : "spots left"}}</span>
                        <div class="the-price">
                          <h1 class="pricebefore" id="planname2">
                            <span class="char1" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(3px) translateZ(0px) rotate(-3deg);">T</span>
                            <span class="char2" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(2px) translateZ(0px) rotate(-2deg);">R</span>
                            <span class="char3" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(-1deg);">E</span>
                            <span class="char4" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(-1deg);">N</span>
                            <span class="char5" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">D</span>
                            <span class="char6" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">S</span>
                            <span class="char7" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">E</span>
                            <span class="char8" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(1deg);">T</span>
                            <span class="char9" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(1deg);">T</span>
                            <span class="char10" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(2deg);">E</span>
                            <span class="char11" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(3px) translateZ(0px) rotate(3deg);">R</span>
                          </h1>
                        </div>
                        <div class="the-content">
                          <p>UNLIMITED RENTALS</p>
                          <h2>3 Clothing Items</h2>
                          <h2>+ 2 Accessories</h2>
                          <p class="at-time">AT A TIME</p>
                          <div class="pricespace"></div>
                          <!-- <span class="rate2"><b>109</b></span> <span class="rate3">/mo</span>  -->
                          <span *ngIf="lastOrderCheck == 'false'" class="rate2 newCustomer"><b>109</b></span> 
                          <span *ngIf="lastOrderCheck == 'true'" class="rate2"><b>109</b></span> <span class="rate3">/mo</span>
                        </div>
                      </div>
                    </div>
                    <div class="wt-plan-btn" style="position: relative;"> <a class="btn-waitlist-big-price" (click)="purchasePlane('trendsetter',TrendsetterPlanPrice)">Select Plan</a> </div>
                    <span class="useCodeMsg" *ngIf="lastOrderCheck == 'false'">USE CODE: <b>WELCOME</b></span>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 plan-outer-box">
                    <div class="wt-panel wt-panel-primary wt-pricing1" (click)="purchasePlane('wanderlust',WanderlustPlanPrice)" style="position: relative;">
                      <div class="roundsticker" *ngIf="lastOrderCheck == 'false'">
                        <div class="round-inner">
                          <span class="round-inner2">$109</span>
                          <span class="round-inner1">FIRST<br>MONTH</span>
                          
                        </div>
                        <!-- <div class="round-inner"><span class="round-inner1">+ FREE <br> SURPRISE BONUS<br>ITEM</span></div> -->
                      </div>
                      <div class="wt-panel-body"> 
                        <span class="spotAvailArea wanderlust"><b>{{this.plansSpotsLeft.wanderlust}}</b> {{this.plansSpotsLeft.wanderlust == 1 ? "spot left" : "spots left"}}</span>
                        <div class="the-price">
                          <h1 id="planname3">
                              <span class="char1" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(2px) translateZ(0px) rotate(-2deg);">W</span>
                              <span class="char2" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(-2deg);">A</span>
                              <span class="char3" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(-1deg);">N</span>
                              <span class="char4" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">D</span>
                              <span class="char5" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">E</span>
                              <span class="char6" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(0deg);">R</span>
                              <span class="char7" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px) rotate(1deg);">L</span>
                              <span class="char8" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) translateZ(0px) rotate(1deg);">U</span>
                              <span class="char9" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(2px) translateZ(0px) rotate(2deg);">S</span>
                              <span class="char10" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(3px) translateZ(0px) rotate(3deg);">T</span>
                          </h1>
                        </div>
                        <div class="the-content">
                          <p>UNLIMITED RENTALS</p>
                          <h2>4 Clothing Items</h2>
                          <h2>+ 3 Accessories</h2>
                          <p class="at-time">AT A TIME</p>
                          <span *ngIf="lastOrderCheck == 'false'" class="rate2 newCustomer"><b>139</b></span> 
                          <span *ngIf="lastOrderCheck == 'true'" class="rate2"><b>139</b></span> <span class="rate3">/mo</span>
                        </div>
                      </div>
                    </div>
                    <div class="wt-plan-btn" style="position: relative;"> <a class="btn-waitlist-big-price" (click)="purchasePlane('wanderlust',WanderlustPlanPrice)">Select Plan</a> </div>
                    <span class="useCodeMsg" *ngIf="lastOrderCheck == 'false'">USE CODE: <b>WELCOME</b></span>
                  </div>
                
                  <div class="view-desktop blackFridayDealLine" *ngIf="ApplyBlackFriday == true && ApplyPauseCustomerView == 'false' "  > <h2>BLACK FRIDAY DEAL - 50% OFF ANY PLAN </h2> <div style="font-weight: bold;font-size: 17px;">*For new members only</div> </div>
                  <div class="view-mobile  blackFridayDealLine" *ngIf="ApplyBlackFriday == true && ApplyPauseCustomerView == 'false' " > <h2>BLACK FRIDAY DEAL <br>50% OFF ANY PLAN </h2> <div style="font-weight: bold;font-size: 17px;">*For new members only</div></div>
                  

                </div>
              </div>
              <div class="cancelAnyTime desktop"><b>No commitments, cancel anytime.</b></div>
              <!-- <div class="planTimerDesktop">
                  <p style="margin:25px;"><span style="color:black; font-size:19px;"><span class="current-wait">CURRENT WAIT TIME: <span style="font-size: 19px;font-family: 'Open Sans' !important; font-weight: 700;">{{waitTime}}</span></span></span></p>
              </div> -->
            </section>
          

      </form>
    </div>
</div>
<app-footer></app-footer>