.hideBox{
    display: none;
}

.tab-top-space {
    padding-top: 23px !important;
    margin-bottom: 170px ;
}
form#regForm span{
    font-size: 14px;
    line-height: 25px;
}
.text-before-pricing {
    text-align: center;
    font-size: 16px !important;
    margin-top: 23px !important;
    font-weight: 500;
    color: #404040;
}
.secure-footer{
    display: block !important;
    color: #fff;
}
#terms_checkboxes{
    padding-bottom: 15px;
    width: 380px;
    margin-top: -55px !important;
    clear: both;
    position: relative;
} 
.popheadings {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
}
.close-btn-modal{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    color: #404040;
    -webkit-text-stroke: 2px white;
    line-height: 20px;
    cursor: pointer;
}
.current_plan_details .border-area{ 
    padding: 13px;
    text-align: left;
    color: #404040;
    font-size: 16px; 
    font-weight: 500;
    margin-bottom: 10px;
}
.planDesc i::after{
    content: '';
    width: 110px;
    height: 1px;
    border: 1px solid #F69295;
    display: block;
    margin-top: 10px;
    background: #F69295;
}
.current_plan_details .inner-border-area{ 
    padding: 2px 13px;
    text-align: left;
    color: #404040;
    font-size: 14px; 
    font-weight: 500;
}

.current_plan_details{
    border: 3px solid #fee1e1;
    min-height: 200px;
    margin-left: 14px;
}
.space-box{
    border-top: 1px solid #ccc;
    margin: 5px 15px; 
}
.current_plan_details .last_row{
    padding: 5px;
    text-align: left;
    color: #f69295; 
    background-color: #fff6f6;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: 700;

} 
.planHeading{
    color: #F69295 !important;
    font-size: 19px !important;
    line-height: 23px !important;
    font-weight: 700;
    text-transform: capitalize; 
}
.planDesc{
    color: #3f3f3f !important;
    font-size: 14px !important;
    line-height: 25px !important;
    margin-bottom: 0px !important;
    font-family: 'Open Sans' !important;
    margin-top: 0px;
}
.planDesc i{
    font-size: 15px;
}
.left_area{
    float: left;
    text-align: left;
}
.right_area{
    float: right;
    text-align: right;
}
.button-area{
    padding-top: 20px;
    float:none;
}
.ref-code td{
    font-size: 14px;
}
#regForm .input5 {
    border: 1px solid #838383;
    height: 38px !important;
    font-size: 16px;
    font-family: 'Open Sans';
    padding-left: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 0px !important;
}
.ref_code{
    text-transform: uppercase ;
    width: 85% !important;
}
.gift_code{
    width: 85% !important;
}
.ref_code::-webkit-input-placeholder{
    text-transform: lowercase !important;
}
.input5::-webkit-input-placeholder{
    opacity: 0.75;
    color: #404040;
}
.space-right{
    padding-left: 2vh; 
}
.no-padding{ padding: 0px !important;}
.und_mesg{
    text-align: left;
    float: left;
    line-height: 20px;
    padding-bottom: 10px;
    font-size: 12.5px;
    width: 355px;
}
.und_checkbox{
    text-align: left;
    float: left;
    width: 25px;
    padding-top: 5px;
}
.und_checkbox input{
    width: auto !important; 
    height: auto !important;
    margin-bottom: 4vh !important;
}
.no-bottom-space .error.doubleinputr{    
    position: absolute;
    /*bottom: -15px;*/
    left: 0px;
}

.und_mesg a{
    color: #404040;
    text-decoration: underline;
    cursor: pointer;
}
.form-fields-table td{
    padding-bottom: 23px; position: relative;
}
.no-bottom-space td{
    padding-bottom: 0vh !important ;
}
.left-space-2vh{
    left: 2vh !important;
}
.top-back-icon i{
    display: block !important;
}
.space-top{
    padding-top: 5px;
}
.nextMonthExpiry{
    width: 100% !important;
    background: #fff;
}
.card_error_mesg{
    /*position: absolute;*/
    width: 100%;
    max-width: 500px;
    margin: 0px auto !important;
    text-align: left;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}
.und_checkbox span{ position: relative !important; }

.checkoutBox{
    width: 775px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}
.checkoutBox .ref-code{
    width: 100%;
    font-size: 16px;
    text-align: left;
}
.checkoutBox .ref-code i{
    position: absolute; 
    font-size: 25px;
    margin: 5px 10px;
    color: #f69295;
}

.form-fields-table{
    width:312px;
}
#card_number_row i{
    position: absolute;
    font-size: 24px;
    color: #b4b4b4;
    right: 10px;
    top: 9px;
}
#card_number_row img{
    width: 30px;
    position: absolute;
    top: 9px;
    right: 38px;
}
#regForm button{
    width: 250px;
}
#pop-terms{
  
    max-height: 100%;
    overflow: hidden;
    background: #fff;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* padding: 44px; */
    position: relative;
    text-align: left;
    vertical-align: middle;
}
 
@media (max-width: 991px){
     
    .checkoutBox .ref-code i{
        margin: 7px -30px;
    }
    #regForm .input5{
        padding-left: 10px;
    }
    .und_mesg br{
        display: none;
    }
    .checkoutBox .ref-code td{
        /* width: 50%; */
        vertical-align: middle;
    }
    
} 
@media (max-width: 767px) {
    .checkoutBox{
        width: 100% !important;
    }
    .text-before-pricing br{
        display: none;
    }
    .text-before-pricing{
        width: 80% !important;
        padding: 0px !important;
        margin: 0px auto;
    }
    #terms_checkboxes{
        margin-top: 30px !important;
    }

    .checkout-left-box , .checkout-right-box, #terms_checkboxes{
        width: 80% !important;
        float: none !important;
        clear: both;
        margin: 0px auto;
    }
    .form-fields-table {
        width: 100% !important;
        float: none !important;
        clear: both;
        margin: 0px auto !important;
    }
    .current_plan_details{ margin-left: 0px;}
    .und_mesg{width: 90%;}
    .error,.error.doubleinputr {
        max-width: 100%!important;
    }
}
.close-btn-modal i {
        -webkit-text-stroke: 4px white; 
        color: #404040;
        opacity: 0.8;
    }

.close-btn-modal:hover i{
    opacity: 1;
}

@media (max-width: 991px) and (min-width: 767px) {
    
    .no-bottom-space td{
        vertical-align: top;
    } 
    
    
}
@media only screen and (max-width: 500px) {
    .tab-top-space {
        margin-bottom: 30px !important;
    }
    .close-btn-modal{
        top: 5px !important;
        right: 5px !important;
    }
    #terms_checkboxes{
        margin-top: 30px !important;
    } 
    .checkout-left-box , .checkout-right-box, #terms_checkboxes{
        width: 95% !important;
    }
    .box-3-row table td:first-child{
        width: 32% !important;    
    }
    .termServiceInnerBox{
        padding: 30px 10px 10px !important;
        width: 96% !important;
        margin: 10% 2% !important;
        height: 90% !important;
    }
    .forterms{
        padding-left: 15px;
        padding-right: 15px;
    }
    .popheadings{
        font-size: 23px;
        margin-bottom: 10px;
        display: block;
    }

    .timerlineMobile{
        display: block !important;
    }
    .planHeading .mobileHeading{
        display: block;
    }
    .planHeading .desktopHeading{
        display: none;
    }
}
  

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {  
  position: relative;
  overflow: hidden;
  padding-left: 16px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  line-height: 16px;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* checkbox aspect */
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;

  -webkit-transition: .2s;
  transition: .2s;
}
/* Unchecked styles */
[type="checkbox"]:not(:checked) + label:before {
  top: 0px;
  width: 16px; height: 16px;
  border: 1px solid #404040;
}
[type="checkbox"]:not(:checked) + label:after {
  top: 0px;
  width: 16px; height: 16px;
  border: 1px solid #404040;
  z-index: 0;
}
/* Checked styles */
[type="checkbox"]:checked + label:before {
    top: 1px;
    width: 7px;
    height: 12px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1.5px solid #404040;
  border-bottom: 1.5px solid #404040;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);

  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
[type="checkbox"]:checked + label:after {
  top: 0px;
  width: 16px; height: 16px;
  border: 1px solid #404040;
  z-index: 0;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  top: 0;
  box-shadow: none;
  background-color: #444;
  width: 19px; height: 19px;
  border: 3px solid #444;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
[type="checkbox"]:disabled + label {
  color: #555;
}
[type="checkbox"]:disabled:not(:checked) + label:hover:before {
  border-color: #404040;
}

.outline-border{
    outline: 1px;
    -webkit-box-shadow: 0px 0px 1px 0px #f69295; 
    -moz-box-shadow: 0px 0px 1px 0px #f69295;
    box-shadow: 0px 0px 1px 0px #f69295;
}
.left_area i{
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 12px;
}
.und_mesg b{
    font-weight: 600 !important;
}
.text-before-pricing{
    margin-bottom: 30px !important;
}
.text-before-pricing b{
    font-weight: 600 !important;
    font-style: normal;
    font-variant: normal;
    color: #F69295 ;
}

.checkout-right-box{
    width: 363px; float:right;
}

.checkout-left-box{
    width: 340px; float: left;
}
.checkout-terms-box{
    width: 375px;
}

.error.doubleinputr{    
    border: 0px !important;
    height: auto !important;
    margin-bottom: 0px !important;
    font-weight: normal !important;
    font-size: 10px !important;
    padding-left: 0px !important;
    text-align: left !important;
    margin-top: 0vh !important;
    float: none !important;
    position: absolute;
    left: 0vw; 
    width: 150% !important;  
}

.termServiceInnerBox {
    padding: 44px 10px 10px; 
    width: 85%;
    background: #fff;
    min-height: 300px;
    margin: 10%; 
    margin-left: 7.5%; 
    margin-top: 5%;
    height: 80%;
    z-index: 9999;
    text-align: left;
    position: fixed;
    top: 0px;
}

.termServiceDarkBox{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    top: 0px;
    margin: 0px;
}
.box-3-row{
    padding-bottom:0px ;
}
.box-3-row td{
    vertical-align: top;
} 
@media only screen and (max-width: 767px){
    .footer-area {
        display:block !important;
    }   
    .buttonCoupon{
        margin-left:-5px;
    }
}

.footer-area{
    height: 150px !important;
}

.left_area span{ line-height: 20px !important; } 
.buttonCoupon{
    display: inline-block !important;
    width: 15% !important;
    border-radius: 0 !important;
    height: 38px !important;
    vertical-align: top;
    padding: 0px;
}
.mobileHeading{
    display: none;
}
.spotAvailArea{
    margin-top: 10px;
    display: block;
    color:#DE3135 !important;
    font-size:16px !important;
    font-family: "Open Sans" !important;

}