<app-header></app-header>
<div class="container">
  <div class="row">
    <ngx-spinner bdColor = "rgba(255, 255, 255, 0.8)" size = "default" color = "#000" type = "ball-clip-rotate-pulse">
        <p *ngIf="(waitTime == '0')" style="color: #000000;margin-top: 30px;" > Creating your membership... </p>
    </ngx-spinner>
    <form id="regForm" action="" role="form" [formGroup]="PurchasePlanForm" (ngSubmit)="submitPurchase()" autocomplete="on">
         <div class="tab tab-top-space" style="padding-top: 0px !important;">
          <span style="display: none;">Your spot on the waitlist is being held for the next: 
              <b><countdown #countdown [config]="{leftTime: counterLeftTime }" (finished)="showFinishMessage()">$!m!:$!s!</countdown></b>
          </span>
          <span *ngIf="(waitTimeHours < 49 && waitTimeHours > 0)" class="timer-line" style="font-family:nexa_boldregular">Your membership will be activated within {{waitTime}}.</span><br>
          <div *ngIf="(waitTime != '0')" class="planHeading"><span  class="timer-line desktopHeading" style="font-family:nexa_boldregular;text-transform: none;">Holy chic, we're at capacity!<br></span>
          <span class="timer-line desktopHeading" style="font-family:nexa_boldregular;text-transform: none;">Complete the form below to reserve your spot on the waitlist.<br></span>
          <span class="timer-line mobileHeading" style="font-family:nexa_boldregular;text-transform: none;">Reserve your spot on the waitlist.<br></span>
          <span class="timer-line " style="font-family:nexa_boldregular;text-transform: none;">Your card will <u>not</u> be charged until your first month begins.</span><br></div>
          <div class="container" >
            <div class="row" >
                <div class="col-md-9 col-xs-11 bs-wizard-main-box" >
                    <div class="  bs-wizard">
                    
                    <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum"></div>
                        <div class="progress">
                            <div _ngcontent-c5="" class="inner-bar"></div>
                            <div class="progress-bar"></div></div>
                        <a  class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Create<br>your account</div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step complete"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum"></div>
                        <div class="progress">
                            <div _ngcontent-c5="" class="inner-bar step3"></div>
                            <div class="progress-bar"></div></div>
                        <a class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Select<br>my plan</div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4 col-xs-4 bs-wizard-step complete"><!-- active -->
                        <div class="text-center bs-wizard-stepnum"></div>
                        <div class="progress">
                            <div _ngcontent-c5="" class="inner-bar step3"></div>
                            <div class="progress-bar"></div></div>
                        <a class="bs-wizard-dot"></a>
                        <div *ngIf="(waitTime != '0')"   class="bs-wizard-info text-center">Submit</div>
                        <div *ngIf="(waitTime == '0')"  class="bs-wizard-info text-center">Choose<br>my items</div>
                    </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- <span style="color:black; font-size:19px;" class="purchaseWaitTIme"><div style="margin-top: 25px;"><span class="current-wait">CURRENT WAIT TIME: <span style="font-size: 19px;font-family: 'Open Sans' !important; font-weight: 700;font-size: 18px;">{{waitTime}}</span></span></div></span>
          <div class="text-before-pricing" style="margin-top: 10px !important;">
            Please enter your billing information to secure your spot on the waitlist. <br>
            Don’t worry,<b> your card will <u> not</u>  be charged until your first month begins</b>.
          </div> -->
          <span class="spotAvailArea"><b>{{plansSpotsLeft[currentPlaneName] == 0 ? '1':plansSpotsLeft[currentPlaneName]}}</b> {{plansSpotsLeft[currentPlaneName] > 1 ? "spots left" : "spot left"}}</span>
          <!-- <span class="spotAvailArea" *ngIf="(currentPlaneName == 'socialite')"><b>{{plansSpotsLeft[currentPlaneName]}}</b> spots left</span> -->
          <!-- <span class="spotAvailArea" *ngIf="(currentPlaneName == 'wanderlust')"><b>{{plansSpotsLeft[currentPlaneName]}}</b> spots left</span> -->
        <div class="" style="margin-top: 10px;">
          <div class="checkoutBox" >
            <div class="checkout-left-box">
              <table class="form-fields-table">
                <tr>
                  <td colspan="3">
                    <input value="" class="input5" (keypress)="CharactersOnly($event)"   (click)="countdown_restart()" type="text" name="name_on_card" placeholder="Name on your card "  required formControlName="name_on_card" minlength="3" maxlength="50" autocomplete="cc-name">
                    <div *ngIf="(PurchasePlanForm.controls.name_on_card.value.length == 0 && showValidationError == 'true' ) || (showValidationError == 'true' && PurchasePlanForm.controls.name_on_card.errors?.required && PurchasePlanForm.controls.name_on_card.touched && PurchasePlanForm.controls.name_on_card.dirty)" class="error doubleinputr">
                        *Please enter the exact name on your card
                      </div> 
                      <div *ngIf="showValidationError == 'true' && ( PurchasePlanForm.controls.name_on_card.errors?.pattern || PurchasePlanForm.controls.name_on_card.errors?.minlength || PurchasePlanForm.controls.name_on_card.errors?.whitespace)" class="error doubleinputr">
                        *Please enter a valid Name
                      </div>   
                  </td>
                </tr>
                <tr>
                    <td colspan="3" id="card_number_row">
                      <input type="tel" class="input5" (keypress)="NumbersOnly($event)"  (input)="SetCardIcon($event.target.value)" (keyup)="NumbersOnly($event)"  (click)="countdown_restart()" (focus)="clearCardError()"  name="card_number" placeholder="Debit/Credit Card Number"  required formControlName="card_number" id="card_number"  autocomplete="cc-number" minlength="13" maxlength="16" >
                      <div *ngIf="(hasPreviousCard == true)" (click)="editCard()" class="error doubleinputr exp_error" style="color:#F69295 !important; cursor: pointer;font-size: 12px!important;"> Edit Billing</div>
                      <div *ngIf="(PurchasePlanForm.controls.card_number.value.length == 0 && showValidationError == 'true' ) || (showValidationError == 'true' && PurchasePlanForm.controls.card_number.errors?.required && PurchasePlanForm.controls.card_number.touched && PurchasePlanForm.controls.card_number.dirty)" class="error doubleinputr">
                        *Card Number is required
                      </div>
                      <div *ngIf="showValidationError == 'true' &&  PurchasePlanForm.controls.card_number.errors?.minlength && PurchasePlanForm.controls.card_number.dirty" class="error doubleinputr">
                          *Your card number should be at least 13 characters
                      </div>
                      <div *ngIf="PurchasePlanForm.controls.card_number.errors?.pattern && PurchasePlanForm.controls.card_number.touched" class="error doubleinputr">
                          *Only numbers are allowed
                      </div>
                      <i class="fa fa-lock" aria-hidden="true"></i>
                      <img *ngIf="cardImage == 'visa' " src="assets/img/visa.png"  />
                      <img *ngIf="cardImage == 'mastercard' " src="assets/img/mastercard.png"  />
                      <img *ngIf="cardImage == 'discover' " src="assets/img/discover.png"  />
                      <img *ngIf="cardImage == 'american' " src="assets/img/american-express.png"  />
                       
                    </td>
                  </tr>
                  <tr>
                    <td class="box-3-row">
                    <table class="no-bottom-space">
                      <tr>
                          <td width="30%">
                            <input type="tel" class="input5" (click)="countdown_restart()"  id="card_expiry_val" name="card_expiry"  mask="00/00" (input)="SetCardExpiry($event.target.value)" placeholder="MM/YY" required formControlName="card_expiry" >
                            <!---- Card Expiry Errors--->
                            <div *ngIf=" showValidationError == 'true' &&  (PurchasePlanForm.controls.card_expiry.errors?.pattern && PurchasePlanForm.controls.card_expiry.touched && PurchasePlanForm.controls.card_expiry.dirty)" class="error doubleinputr">
                                *Invalid expiration
                            </div> 
                            <!---->
                            <div *ngIf="(PurchasePlanForm.controls.card_expiry.value.length == 0 && showValidationError == 'true' ) || (showValidationError == 'true' && PurchasePlanForm.controls.card_expiry.errors?.required && PurchasePlanForm.controls.card_expiry.touched&& PurchasePlanForm.controls.card_expiry.dirty)" class="error doubleinputr exp_error">
                                *Expiration is required
                            </div> 
                            <!---- END Card Expiry Errors --->  
                        </td>
                          <td width="30%" class="space-right">
                            <input type="tel" (keypress)="NumbersOnly($event)" class="input5" autocomplete="cc-number" (click)="countdown_restart()" name="card_cvv" placeholder="CVC" required formControlName="card_cvv" minlength="3" maxlength="4">
                            <!---- Card CVV Errors --->
                            <div *ngIf="showValidationError == 'true'  && (PurchasePlanForm.controls.card_cvv.errors?.pattern || PurchasePlanForm.controls.card_cvv.errors?.minlength)" class="error doubleinputr left-space-2vh">
                                *Invalid CVC
                            </div>
                            <div *ngIf="(PurchasePlanForm.controls.card_cvv.value.length == 0 && showValidationError == 'true' ) || ( showValidationError == 'true' && PurchasePlanForm.controls.card_cvv.errors?.required && PurchasePlanForm.controls.card_cvv.dirty) " class="error doubleinputr left-space-2vh">
                                *CVC is required
                            </div>
                            <!---- END Card CVV Errors --->
                        </td>
                          <td width="40%" class="space-right">
                            <input type="tel" (keypress)="NumbersOnly($event)" class="input5" (click)="countdown_restart()" name="zip_code" placeholder="Billing Zip" required formControlName="zip_code" minlength="5" (input)="clearCardError()" maxlength="5" > <!--(blur)="checkZipCode($event.target.value)"-->
                            <!---- Zip Code Errors --->
                                <div *ngIf="(showValidationError == 'true'  &&  (PurchasePlanForm.controls.zip_code.errors?.pattern || PurchasePlanForm.controls.zip_code.errors?.minlength)) || validZipCode == 'false'" class="error left-space-2vh doubleinputr">
                                    *Invalid Zip
                                </div>
                                <div *ngIf="((PurchasePlanForm.controls.zip_code.value.length == 0 && showValidationError == 'true' ) || (showValidationError == 'true' && PurchasePlanForm.controls.zip_code.errors?.required && PurchasePlanForm.controls.zip_code.touched && PurchasePlanForm.controls.zip_code.dirty)) && validZipCode != 'false' " class="error left-space-2vh doubleinputr">
                                    *Zip is required
                                </div>
                                <!---- END Zip Code Errors --->  
                        </td>
                      </tr>
                    </table>  
                    <div *ngIf="showValidationError == 'true' && PurchasePlanForm.controls.card_expiry.errors?.nextMonthExpiry" class="error doubleinputr nextMonthExpiry" style="width: 100% !important;">
                            *Please enter a card that does not expire in the next month
                        </div>

                    </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                          <input (focus)="clearPhoneError()" id="phone_number" (input)="SetPhoneValidation($event)" value="" class="input5"  (click)="countdown_restart()"   type="tel" name="phone_number" placeholder="Mobile phone number"  required formControlName="phone_number"  mask="(000) 000-0000" minlength="10" maxlength="14" >  <!-- (keypress)="NumbersOnly($event)"  -->
                          <div *ngIf="(PurchasePlanForm.controls.phone_number.value.length == 0 && showValidationError == 'true' && phone_number_error == 'false' ) || (  showValidationError == 'true' && PurchasePlanForm.controls.phone_number.errors?.required && PurchasePlanForm.controls.phone_number.touched && PurchasePlanForm.controls.phone_number.dirty)" class="error doubleinputr">
                              *Phone number is required
                            </div> 
                            <div *ngIf="showValidationError == 'true' && phone_number_error == 'false' && ( showValidationError == 'true' && PurchasePlanForm.controls.phone_number.errors?.maxlength || PurchasePlanForm.controls.phone_number.errors?.minlength || PurchasePlanForm.controls.phone_number.errors?.CheckFirstLetter)" class="error doubleinputr">
                              *Please enter a valid Number
                            </div>

                            <div *ngIf="showValidationError == 'true' && phone_number_error != 'false'" class="error doubleinputr">
                                *{{ phone_number_error }}
                            </div>

                            
                        </td>
                      </tr>
                    <!-- <tr *ngIf="LastOrderCheck == 'false'"> -->
                    <tr>
                        <td class="no-padding">
                            <table class=" ref-code">
                                <tr>
                                    <td width="35%" style="vertical-align: initial;padding-top: 10px;">
                                            Promo code:
                                    </td>
                                    <td width="65%" class="" >
                                        <input (click)="enableReferalField()" #referral_code (keypress)="AlphaOnly($event,'ref')" formControlName="ref_code" class="input5 ref_code" (blur)="checkRefCode($event.target.value)" type="text" name="" placeholder="(optional)" minlength="4" >
                                        <button *ngIf="promoRefButton == true" style="display: inline-block;" onclick="return false;" class="buttonCoupon promoCodeSubmit">></button>
                                        <div *ngIf="validRefCode == 'false' || ( showValidationError == 'true' && PurchasePlanForm.controls.ref_code.errors?.minlength)" class="error doubleinputr" style="    display: contents;">
                                            <!-- *Invalid referral code -->
                                        </div>
                                        <div *ngIf="validPromoCode == 'false'" class="error doubleinputr"  style="    display: contents;">
                                            {{validPromoCodeMessage}}
                                        </div>
                                        <i  *ngIf="validRefCode == 'true' || validPromoCode == 'true'"   class="fa fa-check" aria-hidden="true"></i>
                                        <div *ngIf="showGiftCode == 'false'" (click)="showGiftCode = 'true'" class="showGiftCode" style="color:#F69295 !important;; cursor: pointer;font-size: 12px;width: fit-content;">Apply a Gift Card</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        </tr>
                        <!-- <tr *ngIf="LastOrderCheck == 'true'">
                            <td class="no-padding">
                                <table class=" ref-code">
                                    <tr>
                                        
                                        <td width="65%" class="" (click)="enableReferalField()" >
                                        
                                            <div *ngIf="showGiftCode == 'false'" (click)="showGiftCode = 'true'" class="showGiftCode" style="color:#F69295 !important;; cursor: pointer;font-size: 12px;">Apply a Gift Card</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr> -->
                        <tr *ngIf="showGiftCode == 'true'" >
                            <td class="no-padding">
                                <table class=" ref-code">
                                    <tr>
                                        <td width="35%">
                                            Gift code:
                                        </td>
                                        <td width="65%">
                                            <input (keypress)="AlphaOnly($event,'gift')" formControlName="gift_code" class="input5 gift_code" (blur)="checkGiftCode($event.target.value)" type="text" name="" placeholder="(optional)" minlength="4" style="text-transform: uppercase;" >
                                            <button *ngIf="giftButton == true" style="display: inline-block;" formControlName="gift_code_button" onclick="return false;" class="buttonCoupon">></button>
                                            <div *ngIf="validGiftCode == 'false' || ( showValidationError == 'true' && PurchasePlanForm.controls.gift_code.errors?.minlength)" class="error doubleinputr" >
                                                <!-- *Code is either invalid or expired -->
                                                {{invalidGiftCodeMessage}}
                                            </div>
                                            <i  *ngIf="validGiftCode == 'true'"   class="fa fa-check" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
              </table>
             
            </div>
            <div class="checkout-right-box">
                <div class="current_plan_details"> 
                    <div *ngIf = "showCheckoutBox == false">
                            <img class="loadingImg" style="margin-top: 25%;" src="//cdn.shopify.com/s/files/1/1970/3531/t/1/assets/new_loading_img.gif?18354305811451890428" >
                    </div>

                    <div *ngIf = "showCheckoutBox == true">
                        <div class="border-area"> 
                            <span class="planHeading"> {{ currentPlaneName }}</span>
                            <p class="planDesc"> {{ currentPlaneDescription }}
                                    <br><i>Unlimited Orders</i>
                            </p>
                        </div>
                        <div class="inner-border-area"> 
                            <div class="left_area"> Monthly Subscription <i>(cancel anytime)</i> </div>
                            <div class="right_area" *ngIf="ApplyFreeCoupon == false">  ${{ currentPlanePrice  }}  </div>
                            <div class="right_area" *ngIf="ApplyFreeCoupon == true">  Free  </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="inner-border-area" *ngIf="(ApplyFreeCoupon == false && PriorityDiscount != 0) || creditForMembers > 0 && this.LastOrderCheck == 'false'"> 
                            <div class="left_area"> 
                                    <font *ngIf="(ApplyBlackFriday == false && check30Credit == '1') || creditForMembers > 0"> New Member Discount </font>
                                    <font *ngIf="ApplyBlackFriday == true"> BLACK FRIDAY Discount </font>
                            </div>
                            <!-- <div class="right_area" *ngIf="check30Credit == '1'">  -${{PriorityDiscount}} </div> -->
                            <div class="right_area" *ngIf="creditForMembers > 0">  -${{creditForMembers}} </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="inner-border-area" *ngIf="validRefCode == 'true' && ApplyFreeCoupon == false"> 
                            <div class="left_area"> Friend Referral Discount	 </div>
                            <div class="right_area">  -${{refDiscount}} </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="inner-border-area" *ngIf="acountCredit > 0 && ApplyFreeCoupon == false"> 
                            <div class="left_area"> Account Credit</div>
                            <div class="right_area">  -${{acountCredit}} </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="inner-border-area" *ngIf="promoCredit > 0"> 
                            <div class="left_area"> Promo Discount</div>
                            <div class="right_area">  <div style="display: inline-block;" *ngIf="couponAmount_type == 'persontage'">-</div><div style="display: inline-block;" *ngIf="couponAmount_type != 'persontage'">-$</div>{{promoCreditDiscount}}<div style="display: inline-block;" *ngIf="couponAmount_type == 'persontage'">%</div></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="space-box"></div>

                        <div *ngIf="(creditForMembers > 0)" [ngClass]="(waitTime == '0')?'last_row':'inner-border-area'"> 
                            <div class="left_area"> First Month Price </div>
                            <div class="right_area" *ngIf="ApplyFreeCoupon == false">  ${{ FirstMonthPrice }} </div>
                            <div class="right_area" *ngIf="ApplyFreeCoupon == true">  Free </div>
                            <div class="clearfix"></div>
                        </div> 

                        <div class="last_row" *ngIf="(creditForMembers == '0')" > 
                            <div class="left_area"> Total </div>
                            <div class="right_area">${{FirstMonthPrice}}</div>
                            <div class="clearfix"></div>
                        </div> 
                        <div class="" > 
                            <span style="font-size: 16px;color: #000;font-weight: 600;"><i> No commitments. Cancel anytime.</i> </span>
                        </div> 
                    </div>    
                </div>
            </div>
            <span *ngIf="(waitTimeHours < 49 && waitTimeHours > 0)" class="timer-line timerlineMobile" style="font-family:nexa_boldregular;display: none;">Your membership will be activated within {{waitTime}}.</span>
<div class="clearfix"></div>
            <div class="" id="terms_checkboxes">
                <div [ngClass]="{'hideBox': ApplyFreeCoupon == true} ">
                        <div *ngIf="(waitTime != '0')" class="und_checkbox" >
                                <input type="checkbox" [attr.required]="(waitTime != '0') ? 'required' : ''"  name="fp_authorize" (blur)="HideOutline('1');" (focus)="setOutline('1')" id="fp_authorize" formControlName="fp_authorize" />
                                <label [ngClass]="{'outline-border':showBorder1 == true}" for="fp_authorize"> </label>
                        </div>
                        <div *ngIf="(waitTime != '0')" class="und_mesg" >
                                I authorize FashionPass to charge my card <b> ${{ FirstMonthPrice }} </b> for my <br>
                                first month as soon as my membership is activated.
                        </div>
                        <div class="clearfix"></div>
                        <!-- <div class="und_checkbox" *ngIf = "ApplyBlackFriday == false && (validPromoCode == 'true' || validRefCode == 'true') && promoCodeAllowFor.indexOf('n') >  -1" > -->
                        <div class="und_checkbox" *ngIf = "ApplyBlackFriday == false && creditForMembers > 0 || (validPromoCode == 'true' || validRefCode == 'true') && promoCodeAllowFor.indexOf('n') > -1" >
                                <input type="checkbox" name="credit_30" (blur)="HideOutline('1');" (focus)="setOutline('1')" id="credit_30" required formControlName="credit_30" />
                                <label [ngClass]="{'outline-border':showBorder1 == true}" for="credit_30"> </label>
                        </div>
                        <!-- <div class="und_mesg" *ngIf = " ApplyBlackFriday == false && (validPromoCode == 'true' || validRefCode == 'true') && promoCodeAllowFor.indexOf('n') >  -1"> -->
                        <div class="und_mesg" *ngIf = " (validPromoCode == 'true' || validRefCode == 'true') && promoCodeAllowFor.indexOf('n') > -1">
                            I understand that promo codes for new subscribers are only for new customers and I will be charged full price if I have used the service before.
                        </div>
                </div>
                <div class="clearfix"></div>
                <div class="und_checkbox">
                    <input  type="checkbox" (blur)="HideOutline('2');" (focus)="setOutline('2')" name="term_agree" id="term_agree" required formControlName="term_agree"  />
                    <label [ngClass]="{'outline-border':showBorder2 == true}" for="term_agree"> </label>
                </div>
                <div class="und_mesg space-top" >
                    I agree to FashionPass <a (click)="showTermService('1')">Terms of Service</a>.
                </div> 
                <div class="clearfix"></div> 

                <div style="bottom: 10px; padding-left: 0px !important;" *ngIf="showValidationError == 'true' && ((PurchasePlanForm.controls.term_agree.errors?.required ) ||  (PurchasePlanForm.controls.fp_authorize.errors?.required) ||  (PurchasePlanForm.controls.credit_30.errors?.required)  )" class="error doubleinputr">
                    *Please check all boxes to agree with our policy.
                </div>
                    
              </div>



          </div>
         
        </div>
        <div> 
            <div *ngIf="cardError == 'true'" class="error card_error_mesg">
                {{ CardErrorMessage }}
            </div>
            <div class="button-area">
                <button *ngIf="(waitTime == '0')" type="submit" class=" " id="nextBtn" style="margin-bottom: 20px;" >CREATE MEMBERSHIP</button>
                <button *ngIf="(waitTime != '0')" type="submit" class=" " id="nextBtn" style="margin-bottom: 20px;" >JOIN WAITLIST</button>
            </div>
          </div>
        </div>        
          

    </form>
</div>
</div> 

<!--   MODAL AREA -->

<div *ngIf="showTermOfService == true" class="termServiceInnerBox">
        <a (click)="showTermService('2')" class="close-btn-modal" ><i class="fa fa-times" aria-hidden="true"></i> </a>
    
        <div id="pop-terms" class="fancybox-content" style="display: inline-block;">
            <section class=" forterms" style="padding-left:20px; ">
                <span class="popheadings">FASHIONPASS TERMS OF SERVICE</span>
                <p>THESE TERMS OF SERVICE CONTAIN AN ARBITRATION CLAUSE AND CLASS ACTION WAIVER. IT AFFECTS HOW DISPUTES WITH FASHIONPASS ARE RESOLVED. BY ACCEPTING THESE TERMS, YOU ARE AGREEING TO THE ARBITRATION AGREEMENT AND CLASS ACTION WAIVER DESCRIBED BELOW TO RESOLVE ANY DISPUTES WITH FASHIONPASS. PLEASE READ IT CAREFULLY.</p>
                <strong>INTRODUCTION</strong>
                <p>These Terms of Service ("Terms") are a legal agreement between you ("you" or "your") and FashionPass, Inc., a California corporation ("FashionPass", "us", "we", or "our"). They establish the terms and conditions under which you will submit information to, and rent or purchase designer clothing or accessory items (each a "Product" and collectively, "Products or Items") and receive related services ("Services") from FashionPass via our website at https://www.thefashionpass.com (the "Website" or "Site").</p>
                <p>CAREFULLY READ THE TERMS AND CONDITIONS OF THIS AGREEMENT AND OUR PRIVACY POLICY AT PRIVACY POLICY. BY ACCESSING OR USING THE WEBSITE, INCLUDING TRYING OR PURCHASING PRODUCTS OFFERED ON OUR WEBSITE, SIGNING UP FOR THE SUBSCRIPTION SERVICES AND CLICKING THE "SUBMIT" BUTTON TO SIGNIFY ACCEPTANCE OF THESE TERMS, YOU ARE AGREEING TO BE BOUND BY AND ARE BECOMING A PARTY TO THIS AGREEMENT AND SUBJECT TO OUR PRIVACY POLICY, AS SUCH TERMS MAY CHANGE FROM TIME TO TIME. IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT AND OUR PRIVACY POLICY, PLEASE DO NOT TRY OR PURCHASE ANY PRODUCTS AND DO NOT USE THIS WEBSITE. YOU FURTHER AGREE THAT THESE TERMS WILL GOVERN YOUR RELATIONSHIP WITH FASHIONPASS, WHETHER YOU ACCESS OUR PRODUCTS OR SERVICES THROUGH THE WEBSITE OR THROUGH A MOBILE DEVICE OR APPLICATION OR THROUGH A THIRD PARTY SITE SUCH AS FACEBOOK.</p>
                <p>YOU AGREE TO RECEIVE ALL COMMUNICATIONS FROM FASHIONPASS UNDER THIS AGREEMENT ELECTRONICALLY VIA EMAIL, YOU AGREE TO KEEP YOUR CURRENT EMAIL ADDRESS UPDATED AT ALL TIMES AND AGREE THAT YOU WILL BE DEEMED TO HAVE RECEIVED ANY NOTICES WE SEND TO THAT EMAIL ADDRESS.</p>
                <p>WE RESERVE THE RIGHT TO CHANGE THE TERMS OF THIS AGREEMENT IN THE FUTURE AND ANY CHANGES WILL APPLY TO THE TRYING AND PURCHASE OF ANY PRODUCTS AFTER THE DATE OF SUCH CHANGE. WE MAY PROVIDE NOTICE OF ANY SUCH CHANGES BY EMAIL, NOTICE TO YOU UPON LOG-IN, OR BY PUBLISHING THEM ON THE WEBSITE. IF YOU DO NOT AGREE TO ANY CHANGES IN THE TERMS AS THEY MAY OCCUR, PLEASE ARRANGE TO TERMINATE YOUR SUBSCRIPTION BY NOTIFYING FASHIONPASS OF YOUR UNWILLINGNESS TO ACCEPT THE CHANGES TO THE TERMS BY EMAILING HELLO@THEFASHIONPASS.COM AND BY IMMEDIATELY RETURNING ALL OUTSTANDING PRODUCTS AND DISCONTINUING YOUR USE OF THE SERVICES AND THE WEBSITE.</p>
                <strong>ABOUT FASHIONPASS AND OUR SERVICE</strong>
                <p>FashionPass is an online rental subscription service that provides the newest trends and styles from top retail brands as well as personalized stylist advice to give you access to a truly endless closet.</p>
                <strong>BECOMING A MEMBER AND OBTAINING AN ACCOUNT</strong>
                <p>Before you can begin use of the Services, you must register through the Website to obtain an account. You must have a valid credit card and Internet access to use our Services. You must be 18 years of age or older to register as a member and use the Services and you must reside within the United States or its territories. Your membership will automatically renew for successive monthly membership periods, unless you cancel your membership or your membership is otherwise determined by FashionPass to terminate under these Terms. You agree to provide true, accurate, current and complete information about yourself as prompted by the Website's registration form (such information being the "Registration Data"), and you agree to maintain and promptly update the Registration Data (including, without limitation, you e-mail address and your shipping address) and style profile section of the Website to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or we have any reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we may review, deny, suspend or terminate your Account and refuse to offer you any and all current or future use of the Services and the Website. You are responsible for maintaining the confidentiality of your Account and password and for restricting access to your computer. You are solely responsible for any activity related to your Account. If you suspect any unauthorized use of your Account, notify us immediately. In order to provide you with ease of access to your Account, we may place a cookie (a small text file) on the computers from which you access the Website. When you revisit the Website, this cookie will enable us to recognize you as the Account holder and allow you to more easily access your Account. Data rates and other fees may apply when you are browsing the Site or accessing the Services through a mobile or wireless device.</p>
                <strong>PRODUCT RENTAL AND PURCHASE</strong>
                <p>ORDER CUT OFF TIME AND DELIVERY - Our daily order cut off time (Monday through Saturday, excluding public holidays posted on our checkout page) is 3PM PST. Certain orders may be placed, processed, and couriered to you for same-day delivery as long as your zip code qualifies and the order is placed by 3PM PST. Our shipping partners are subject to change at any time and at FashionPass's sole discretion. You are subject to any additional delivery cost disclosed on the Site.</p>
                <p>PAST DUE ACCOUNTS AND COLLECTIONS - You are subject to any collections procedures that FashionPass chooses to institute for any past due amounts owed. You agree to pay FashionPass's collection costs, including but not limited to attorneys' fees. Amounts owed can be calculated through monthly payments as well as the cost of any missing items from your orders that have not been paid for.</p>
                <p>METHODS OF COMMUNICATION - You agree to any and all methods of communication from FashionPass. We may chat, email, text message, or call any of the telephone numbers or email addresses you provide to us for any reason FashionPass deems necessary. Should you wish to discontinue communication with FashionPass, contact us at <a class='linkofterms' data-href="mailto:hello@thefashionpass.com">hello@thefashionpass.com</a>.</p>
                <p>RENTAL OR PURCHASE CANCELLATION - We reserve the right to limit, cancel or prohibit any rentals or sales of Products for any reason, including but not limited to availability and geographic concerns. We also reserve the right to refuse a sale for a listed price due to an accidental error or typo when pricing the item.</p>
                <strong>PURCHASING YOUR ITEMS</strong>
                <p>DISCOUNTED MEMBER SALE PRICE - Members may receive a discount of 20% off the retail price of any item unless stated otherwise. The purchase price does not include tax and may not include shipping. FashionPass reserves the right to change the purchase price and alter the member discount at any time. You authorize FashionPass to charge the card(s) on file for any purchase at any time.</p>
                <p>FINAL SALE - You understand that all products are sold as is and that all products, with the exception of pasties and fashion tape, have been worn by other members. Products may be returned within 15 days of purchase. After 15 days, no returns will be accepted.</p>
                <strong>FASHIONPASS CASH ACCOUNT CREDIT AND GIFT CARDS</strong>
                <p>The following additional conditions apply to the use of FashionPass Credits:</p>
                <p>I. USE FashionPass Credits are automatically applied to purchases and membership billings. FashionPass reserves the right to remove any credits applied to your account for any reason deemed necessary by the Company.</p>
                <p>II. APPLICABILITY - FashionPass Credits can be used for purchases made through the Site and the purchase program. Credits may not be applied to Early Check In under any circumstance.</p>
                <p>III. REFUNDS - FashionPass Credits do not hold USD value and therefore cannot be refunded as a cash transaction.</p>
                <p>IV. BALANCE - You may check your FashionPass Credit balance by logging into your account and clicking on the My Credits tab located in the My Account menu.</p>
                <p>V. GIFT CARDS - Gift cards can be redeemed by applying your e-gift code at checkout or by applying your e-gift code to your account in the <a class='linkofterms' data-href="https://thefashionpass.com/pages/my-account#cash">My FashionPass Cash</a> section of the site.</p>
                <strong>FASHIONPASS SUBSCRIPTION</strong>
                <p>FASHIONPASS SUBSCRIPTION - As a FashionPass GO (subscription) member, you are able to rent 3 products for Socialite, 5 products for Trendsetter, and 7 products for Wanderlust at any time. You are able to swap your items for new ones as many times a month as you want, however, all products from a single order must be returned together before you are able to place your next order. You will be automatically billed every 30 days for your chosen plan from the initial date that you signed up for FashionPass Go. Because your account renews every 30 days, there is no limit on the amount of time you are able to keep your items for. You authorize FashionPass to automatically bill any and all cards on file for the membership fee and/or any other charges FashionPass deems necessary.</p>
                <p>FEES - FashionPass GO is a monthly subscription and your billing cycle will take place every 30 days from your initial sign up date. Membership fees include insurance to cover easy repairs and removable stains, but does not cover severe damage, loss, or theft. FashionPass GO monthly subscription fees are non-refundable.</p>
                <p>CANCELLATION OF YOUR MEMBERSHIP - You may cancel your FashionPass membership at any time by clicking on the My FashionPass GO tab in the My Account menu. From there, you can click "pause/cancel membership". All FashionPass Products in your possession must be scanned by FedEx before your next billing date for the pause to take effect. If your items are not scanned by FedEx, you will automatically be billed for another month and are not entitled to a refund. Additionally, all pausing must be done before your billing date. Pauses cannot be honored for previous billing dates and refunds cannot be issued for previous billing cycles.</p>
                <p>DELIVERY - Deliveries will be made through FashionPass's shipping partners and the method of shipping will be at FashionPass's discretion. Courier Services will be available for deliveries in certain zip codes in Los Angeles. For all deliveries, you will be provided an estimated delivery date through the Site and through email once your order is placed. You must provide FashionPass with a safe and secure delivery location. Once the package's tracking information shows it has been delivered, it is your responsibility to retrieve or track down the package. FashionPass will not assume responsibility for packages that have been delivered but left unattended, or that have been tampered with after proof of delivery. We recommend being present at the time of delivery and/or providing the safest possible delivery location for your package. FashionPass GO members are liable for items stolen or damaged after delivery for 80% of the listed retail price.</p>
                <p>We send all products cleaned, inspected, sterilized, and ready for you to wear. FashionPass is not liable for any health-related complaints with any of the products. Note that if there is any issue with the Products, such a defect or something is missing, it is your responsibility to let us know no later than 24 hours of receiving your items.</p>
                <p>FREE ADDED ITEMS - Should you receive any extra/free bonus clothing or accessories in your order, those item(s) will follow the same terms as outlined in this Terms of Service that any original item in your order would follow. You are liable for any damage, loss, or theft to bonus items in the exact terms that you are liable for any item that was originally in your order. Should you decide to wear the item, it is your responsibility to maintain and preserve the item in the same condition you would for any other item you receive from us. FashionPass GO subscription members may keep their added/bonus items for the membership price of 80% of the retail value. Please note that all sales are final after 15 days of being charged for the items.</p>
                <p>RETURNS - You can return all of the FashionPass GO items you have at any time with the pre-paid Return Label and Return Packaging that you receive with your shipment. We will only provide one pre-paid Return Packaging per shipment, so all products must be returned together. You will be eligible to place your next order within 2 days of your return being scanned by the appropriate shipping carrier. FashionPass will provide you with instructions for your return and information about your eligibility to place your next order. You understand that dropping your return off incorrectly will result in a delay on your return shipment and will affect your eligibility to place your next order.</p>
                <p>FAILURE TO PAY FEES - FashionPass reserves the right to pursue any amounts owed to the Company at any time. You are subject to all collections processes and legal action that FashionPass chooses to take.</p>
                <p>RETURN OF THE PRODUCTS; MISSING ITEMS - You must return all items in the same order together with the pre-paid return bag provided to you by FashionPass. Your account will automatically be charged the listed member price (or 80% of retail price) for ALL items missing from your return. You are responsible for any lost, stolen, or damaged products while they are in your possession and will be charged the member price for all products that are lost, stolen, or damaged beyond repair. The products are considered your responsibility once the tracking for your package shows delivered and until we receive your return back from the shipping carrier. If any missing items are located, you have 30 days from the date that you were charged for the item to return it for a full refund.</p>
                <p>DAMAGE, FAILURE TO RETURN PRODUCTS, &amp; CANCELLATION - You acknowledge that you must return all items together. Any missing items in your return will be charged to the card(s) on file for the member price of each item. Your membership includes insurance, but does not cover significant damage, loss of the items, or theft. Any items considered damaged beyond repair will be charged to the card(s) on file at any given time, including members that have paused their accounts. Charges for damaged items are non-refundable.</p>
                <p>CHANGES TO AND TERMINATION OF SUBSCRIPTION - FashionPass reserves the right to alter or change any and all aspects of the site or subscription at any time, including the subscription fee. You may pause your account at any time during your use of the services. To pause your account, you must click on the "My FashionPass GO" tab in the My Account menu, and from there you must click "pause/cancel membership". Your return must be scanned in by FedEx before your next billing date for the pause to take effect. If you return is not scanned in time, your account will automatically renew and your membership fee will be non-refundable.</p>
                <p>FashionPass reserves the right to terminate any account for any reason deemed necessary by the Company. Any violation of these terms will result in either termination or suspension of your account. FashionPass is not required to issue a refund for any accounts that are terminated or suspended.</p>
                <p>FASHIONPASS GO BILLING - FashionPass Go is a monthly subscription service. If you have multiple cards stored in your account, FashionPass reserves the right to charge each card, starting with your default payment method, for purchased items or a monthly membership renewal. Monthly memberships are only renewed for unpaused accounts and accounts that still have not returned their package. If you have not paused your account by visiting the My FashionPass GO tab in My Account AND returned your items by your monthly billing date displayed in My Account, your subscription will renew and we will charge you for another month of service. FashionPass will never make duplicate charges on multiple cards. Should you experience any billing issues, please contact <a class='linkofterms' data-href="mailto:hello@thefashionpass.com">hello@thefashionpass.com</a> directly.</p>
                <p>All FashionPass GO members are required to return their membership items from an order they placed, unless they wish to purchase them. Please note that all sales are final after 15 days of being charged for the items. If you place and order and fail to return all of your items after two or more months, you will continue to be charged monthly until your payments reach the membership price of 80% of the listed retail price on our site plus one month of membership cost. After this point, your membership will be automatically paused and the items are yours to keep if you want to keep them. Any customer keeping items for multiple months without returning them are preventing FashionPass from providing those items to other customers and are using the service on a monthly basis. You will not be refunded for keeping the items for several months since you are using the service.</p>
                <p>LATE FEES FOR SUBSCRIPTION PAYMENTS - FashionPass GO members who fail to update their account with a valid, working credit card are subject to a 10% late fee for all payments that are past due by 30 days or more. For example, an account that is delinquent for 60 days is liable to pay the balance owed for 2 months plus 10% of the total balance. Your credit card can be updated on the billing info tab in My Account.</p>
                <p>CARD AUTHORIZATION - You authorize FashionPass to make a $0.50 authorization charge on one or more of your credit cards after each return. This amount will be immediately reversed/refunded and should not appear on your credit card statement. The description would say "FashionPass AuthCharge". Should you see a charge like this, please allow 3-5 business days for the refund to appear. If it does not, please contact us at <a class='linkofterms' data-href="mailto:hello@thefashionpass.com">hello@thefashionpass.com</a>.</p>
                <p>FRAUDULENT ACTIVITY AND LINKED ACCOUNTS - Fraudulent activity is closely monitored by FashionPass. If FashionPass finds your account to be behaving in a fraudulent manner, we reserve the right to charge your card or any cards linked to your account to recover the cost of our lost items, including any additional/free added bonus items to your order, for up to 100% of the retail value.</p>
                <p>If a user is found to have multiple accounts, FashionPass reserves the right to terminate any and all of the accounts. If a user is found to have multiple subscriptions, with multiple orders places, the user will be charged up to 100% of the retail value for any items in the customer's possession, at FashionPass's sole discretion. Should the items be returned in proper condition, the customer will receive a full refund.</p>
                <p>FashionPass determines if an account is linked based on various factors and ultimately it is up to FashionPass's sole discretion to determine if two accounts are from the same user. We reserve the right to charge any and all cards on file to collect funds for monies owed due to account delinquency or theft. Stolen packages or missing payments due to failure to abide by these Terms of Service will result in a charge of up to 100% of the retail value of the missing items until the items are safely returned.</p>
                <strong>SERVICE MAINTENANCE AND INTERRUPTIONS</strong>
                <p>None of the information provided through the Site or through FashionPass is a strict guarantee. Due to the fact that FashionPass uses third party shipping, delays or inaccuracies may occur. FashionPass reserves the right to make changes to the Site and the Services at any time. The FashionPass site may be unavailable due to maintenance and you may experience site errors due to maintenance.</p>
                <p>FashionPass is not responsible for shipping delays caused by the carrier. FashionPass is also not responsible for weather delays or other incidents that can occur during transit.</p>
                <strong>SITE PRODUCT REVIEWS</strong>
                <p>Any FashionPass user with an account on thefashionpass.com is able to write a review. However, these reviews are published at the sole discretion of FashionPass. FashionPass reserves the right to delete or alter reviews found to contain errors, spam messages, false images, or containing content not intended to help other FashionPass users learn more about the product being reviewed. FashionPass reserves the right to delete or alter any review without notifying the original author. Reviews are left for products on thefashionpass.com strictly to educate other users about the product and its fit. Reviews shall NOT be used as a means of defaming other users, nor shall they be used as a means of advertising goods or services other than those found on www.thefashionpass.com.</p>
                <strong>REFER FRIENDS PROGRAM</strong>
                <p>The following terms and conditions apply to the FashionPass Refer Friends Program and may be altered or terminated at any time under the sole discretion of FashionPass. We will notify you of any changes to these terms via email or by posting on www.thefashionpass.com. By participating in the FashionPass Refer Friends Program, you agree to these terms and conditions.</p>
                <strong>A. How to Participate in the Invite Friends Program as an Advocate</strong>
                <p>You become an advocate for FashionPass (an "Advocate", "You" or "Your") by inviting your friends and family (your "Referrals") to use your specific discount code (the "Discount") to sign up for a FashionPass Go Membership (each, an "Invitation"). Your referral will get $60 off of their first month of FashionPass Go as long as they qualify for the Discount. To qualify, your referral must not have placed an order through FashionPass Go before. As soon as your referral signs up for FashionPass Go, you will receive an email to the email address on file confirming that your referral signed up and your account will automatically be credited $20 for the referral. You may refer as many friends or family members as you'd like, however you are limited to use of a maximum use of 100 Invite Friends Credits or a total of $2,000.00 in savings.</p>
                <strong>B. How to Use Referral Credits</strong>
                <p>Referral Credits are automatically applied to any of your next purchases, including your monthly membership billing. Referral credits are non-transferrable and may only be used once. If you purchased an item using your Referral Credits, credits will be re-issued to your account upon the return of the product.</p>
                <strong>C. Information for Referrals</strong>
                <p>Referrals must be someone who has never signed up and placed a FashionPass GO order before. If a Referral violates any of these terms, FashionPass reserves the right to cancel the Referral's order and account, and revoke Referral Credit from the Advocate. FashionPass may also revoke credits from the Advocate should the Referral cancel their membership and request a refund. There is no expiration for the Discount, however expirations may be added at any time under FashionPass's discretion.</p>
                <strong>D. Non-Qualifying Items</strong>
                <p>FashionPass Referral Credits may not apply to Early Check-in, added items, or sales tax. Other exclusions may apply, and non-qualifying items may be added or changed at any time under FashionPass's discretion.</p>
                <strong>E. General Terms</strong>
                <p>Friend Referral credits are redeemable only once and hold no cash value. Credits may be revoked if FashionPass suspects fraud, forgery, or any violation of these terms under any circumstance. FashionPass may change these terms or terminate the Referral Program at any time.</p>
                <strong>F. Contacting the FashionPass Refer Friends Program</strong>
                <p>Any questions or concerns can be answered by e-mailing <a class='linkofterms' data-href="mailto:hello@thefashionpass.com">hello@thefashionpass.com</a>.</p>
                <strong>G. Marketing</strong>
                <p>FashionPass will manage the information you provide about the FashionPass Referral Program as acknowledged in FashionPass's Privacy Policy. By taking part in the program, you agree to receive advertisements and other communication from FashionPass.</p>
                <strong>FASHIONPASS CREDIT PROMOTIONS</strong>
                <p>Invite Friends credits are subject to the Terms &amp; Conditions outlined in Section 11 Invite Friends Program.</p>
                <p>Birthday Credit are only issued once per year, and is issued at FashionPass's sole discretion. If you change your birth date in My Account, you may receive this promotional credit less than annually, if at all. FashionPass reserves the right to revoke a birthday credit at their discretion, for any reason.</p>
                <p>Product Review Credits are issued immediately upon leaving the Review. However, FashionPass reserves the right to revoke a credit issued if it finds the Review to violate our Reviews Terms outlined in Section 10 Product Reviews Policy. Credits may be revoked at FashionPass's sole discretion if it finds a Review to not be relevant toward helping other members learn more about the product. Reviews left for the sole purpose of earning Credits and not helping other FashionPass members learn more about the Product may result in credits being revoked.</p>
                <p>Facebook page like credits will be issued within one week. Our Facebook page can only be liked once per person (forever) to earn credit. You must remain liking the FashionPass Facebook page for at least 1 year to keep your credit. Should FashionPass find that you liked the page to earn credit, and then within one year unliked that page, FashionPass reserves the right to revoke your Credit at any time, at FashionPass's sole discretion.</p>
                <p>Facebook post share credits will be issued within one week of posting. You can only redeem this credit once. FashionPass reserves the right to revoke a credit if they find your post to be deleted. FashionPass reserves the right to limit any member from posting and earning credit, at the sole discretion of FashionPass. If FashionPass determines that your post is not seen by enough people, or the right audience, FashionPass has the right to not allow this promotion for every member.</p>
                <p>Insta Story tag credits will only be issued if @fashionpass is following you on Instagram. Please ensure that you DM @fashionpass so we can follow you on Instagram to make you eligible to receive credit. You must visibly tag @fashionpass in your story to receive credit. It is at FashionPass's sole discretion to issue credit. If FashionPass determines your tag was not visible enough, you will not receive credit. Your story must be left on Instagram, with the tag, for a full 24 hours in order to receive credit. You can redeem a story credit once. Your story will be reviewed and your credit will be issued within a few days. FashionPass reserves the right to limit any member from posting stories and earning credit, at the sole discretion of FashionPass. If FashionPass determines that your post is not seen by enough people, or the right audience, FashionPass has the right to not allow this promotion for every member.</p>
                <p>Instagram Post and Comment tag credits will only be issued if @fashionpass is following you on Instagram. Please ensure that you DM @fashionpass so we can follow you on Instagram to make you eligible to receive credit. If you tap-tag @fashionpass in your photo, you must be wearing a FashionPass outfit in your photo. Note that deleted tags/comments will not be valid to redeem credit. If FashionPass finds your post to be altered or deleted, FashionPass may revoke credits that have been issued for a tap tag or caption at any time. You can redeem a post tap-tag or comment credit once. Your Instagram post will be reviewed and your credit will be issued within one week. FashionPass reserves the right to limit any member from posting photos, tagging, commenting, and earning credit, at the sole discretion of FashionPass. If FashionPass determines that your post is not seen by enough people, or the right audience, FashionPass has the right to not allow this promotion for every member.</p>
                <strong>NEW MEMBER PROMO CODES</strong>
                <p>These promotional codes are only allowed for new members. FashionPass reserves the right to revoke your membership and any orders without a refund if you are found using these codes more than once. Creating new or fake accounts in order to use one of these promotional codes again is in violation of our Terms of Service, and may result in termination of your account without a refund. FashionPass reserves the right to research any FashionPass member on public sources of social media and Google to determine if an account is a duplicate for a single member. Should FashionPass find you in violation of this policy, you will not be eligible to use either of these promotional codes again.</p>
                <strong>ADDITION ITEMS FOR PURCHASE</strong>
                <p>Additional items that are purchased as add on items or upgraded items, and additional items that are receieved as free bonus items, are all bound by the terms of normal subscription item rentals. Misplacing your items in any way will result in the same penalties that normal order items are subject to. <strong>LEGAL DISPUTES</strong></p>
                <p>PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR RIGHTS AND WILL HAVE A SUBSTANTIAL IMPACT ON HOW CLAIMS YOU AND FASHIONPASS HAVE AGAINST EACH OTHER ARE RESOLVED.</p>
                <p>You and FashionPass agree that any claim or dispute at law or equity that has arisen or may arise between us relating in any way to or arising out of this or previous versions of these Terms, your use of or access to the Website, or any Products or Services offered, tried, or sold or purchased through the Website, will be resolved in accordance with the provisions set forth in this Legal Disputes Section "Agreement to Arbitrate").</p>
                <p>You agree that, except to the extent inconsistent with or preempted by federal law, the laws of the State of California, without regard to principles of conflict of laws, will govern the Terms and any claim or dispute that has arisen or may arise between you and FashionPass, except as otherwise stated in the Terms.</p>
                <p>You and FashionPass each agree that any and all disputes or claims that have arisen or may arise between you and FashionPass relating in any way to or arising out of this or previous versions of the Terms, your use of or access to the Website, or any Products or Services tried, sold, or purchased through the Website, shall be resolved exclusively through final and binding arbitration, rather than in court, except that each party retains the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents, or other intellectual property. Alternatively, you may assert your claims in small claims court, if your claims qualify and so long as the matter remains in such court and advances only on an individual (non-class, non-representative) basis. The Federal Arbitration Act governs the interpretation and enforcement of this Agreement to Arbitrate to the exclusion of state law inconsistent therewith.</p>
                <p>YOU AND FASHIONPASS AGREE THAT EACH OF US MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE ACTION OR PROCEEDING OR PRIVATE ATTORNEY GENERAL ACTION. UNLESS BOTH YOU AND FASHIONPASS AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR JOIN MORE THAN ONE PERSON'S OR PARTY'S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE, COLLECTIVE, OR PRIVATE ATTORNEY GENERAL ACTION, OR CLASS PROCEEDING. ALSO, THE ARBITRATOR MAY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT PARTY'S INDIVIDUAL CLAIM(S). ANY RELIEF AWARDED CANNOT AFFECT OTHER USERS.</p>
                <p>Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, and court review of an arbitration award is very limited. However, an arbitrator can award the same damages and relief on an individual basis that a court can award to an individual. An arbitrator should apply the terms of the Terms as a court would. All issues are for the arbitrator to decide, except that issues relating to arbitrability, the scope or enforceability of this Agreement to Arbitrate, equitable actions with respect to intellectual property as described above, or the interpretation of prohibition of class and representative actions, private attorney general actions, and non-individualized relief shall be for a court of competent jurisdiction to decide.</p>
                <p>The arbitration will be conducted by the American Arbitration Association ("AAA") under its rules and procedures, including the AAA's Consumer Arbitration Rules (as applicable), as modified by this Agreement to Arbitrate. The AAA's rules are available at www.adr.org or by calling the AAA at 1-800-778-7879. The use of the word "arbitrator" in this provision shall not be construed to prohibit more than one arbitrator from presiding over an arbitration: rather, the AAA's rules will govern the number of arbitrators that may preside over an arbitration conducted under this Agreement to Arbitrate.</p>
                <p>A party who intends to seek arbitration must first send to the other, by certified mail, a completed form Notice of Dispute ("Notice"). The Notice to FashionPass should be sent to FashionPass at the address first set forth above. FashionPass will send any Notice to you to the physical address we have on file associated with your Account; it is your responsibility to keep your physical address up to date. All information called for in the Notice must be provided, including a description of the nature and basis of the claims the party is asserting and the relief sought.</p>
                <p>If you and FashionPass are unable to resolve the claims described in the Notice within 30 days after the Notice is sent, you or FashionPass may initiate arbitration proceedings. A form for initiating arbitration proceedings is available on the AAA's site at www.adr.org. In addition to filing this form with the AAA in accordance with its rules and procedures, the party initiating the arbitration must mail a copy of the completed form to the opposing party. Any settlement offer made by you or FashionPass shall not be disclosed to the arbitrator.</p>
                <p>The arbitration hearing shall be held in the county in which you reside or at another mutually agreed location. If the value of the relief sought is $10,000 or less, the arbitration will be conducted solely on the basis of documents you and FashionPass submit to the arbitrator, unless you elect to have an in-person hearing or the arbitrator determines an in-person hearing is necessary. In cases where an in-person hearing is held, you and/or FashionPass may attend by telephone, unless the arbitrator or AAA rules require otherwise. If the value of the relief sought exceeds $10,000, the right to an in-person hearing will be governed by the AAA rules.</p>
                <p>The arbitrator will decide the substance of all claims in accordance with applicable law, including recognized principles of equity, and will honor all claims of privilege recognized by law. The arbitrator shall not be bound by rulings in prior arbitrations involving different users, but is bound by rulings in prior arbitrations involving the same FashionPass user to the extent required by applicable law. The arbitrator's award damages must be consistent with the terms of the "Disclaimer of Warranties; Limitations on Liability" section above as to the types and amounts of damages for which a party may be liable. The arbitrator's award shall be final and binding and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof. If you prevail in arbitration, the arbitrator may award you reimbursement of your attorneys' fees and expenses if you seek such relief. FashionPass will not seek, and hereby waives all rights it may have under applicable law to recover attorneys' fees and expenses if it prevails in arbitration.</p>
                <p>Your responsibility to pay any filing, administration and arbitrator fees will be governed by the AAA's rules, unless otherwise stated in this Agreement to Arbitrate. If you decide to commence arbitration, and if the value of the relief sought is $10,000 or less, at your request, FashionPass will pay all filing, administration, and arbitrator fees associated with the arbitration. Any request for payment of fees by FashionPass should be submitted by mail to the AAA along with your Demand for Arbitration and FashionPass will make arrangements to pay all necessary fees directly to the AAA. In the event the arbitrator determines the claim(s) you assert in the arbitration to be frivolous or brought for an improper purpose, you agree to reimburse FashionPass for all fees associated with the arbitration paid by FashionPass on your behalf that you otherwise would be obligated to pay under the AAA's rules.</p>
                <p>With the exception of any of the provisions with respect to the prohibition of class and representative and private attorney general actions, and non-individualized relief, if an arbitrator or court decides that any part of this Agreement to Arbitrate is invalid or unenforceable, the other parts of this Agreement to Arbitrate shall still apply. If an arbitrator or court decides that any of the provisions with respect to the prohibition of class and representative and private attorney general actions, and non-individualized relief is invalid or unenforceable, then the entirety of this Agreement to Arbitrate shall be null and void. The remainder of these Terms and its Legal Disputes Section will continue to apply.</p>
                <p>Notwithstanding any provision herein to the contrary, you and we agree that if we make any amendment to this Agreement to Arbitrate (other than an amendment to any notice address or site link provided herein) in the future, that amendment shall not apply to any claim that was filed in a legal proceeding against FashionPass prior to the effective date of the amendment. The amendment shall apply to all other disputes or claims governed by the Agreement to Arbitrate that have arisen or may arise between You and FashionPass. We will notify you of amendments to this Agreement to Arbitrate by posting the amended terms on the Website or by providing notice by email. If you do not agree to these amended terms, you may close your Account within the 30-day period after such notice and you will not be bound by the amended terms.</p>
                <p>Unless you and we agree otherwise, in the event that the Agreement to Arbitrate above is found not to apply to you or to a particular claim or dispute, either as a result of your decision to opt out of the Agreement to Arbitrate or as a result of a decision by the arbitrator or a court order, you agree that any claim or dispute that has arisen or may arise between you and FashionPass must be resolved exclusively by a state or federal court located in Los Angeles, California. You and FashionPass agree to submit to the personal jurisdiction of the courts located within Los Angeles, California for the purpose of litigating all such claims or disputes.</p>
                Last updated 12/13/2018
            </section>
    </div>
</div>
    <div *ngIf="showTermOfService == true" class="loader-container termServiceDarkBox"  (click)="showTermService('2')"></div>
    <!--  MODAL AREA END -->
<div class="footer-area"  >
        <div class="container">
            <div class="row">
                <div class="secure-footer" >
                Safe and Secure SSL Encrypted Payment <br>
                <i class="fa fa-lock" aria-hidden="true"></i> Powered by <b>stripe</b>
                </div>
    
            </div>
            <div style="text-align: center;" *ngIf="LastOrderCheck == 'false'"><a class="logo-area"><img src="assets/img/fashionpass-logo-white.png" class="wt-logo"></a></div>
        </div>
    </div>