.tab-top-space {
    padding-top: 45px !important;
}
.tick-li i{
    color: #A1D5D9 !important;
    font-size: 22px;
    padding-right: 8px;
}
.head1{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.head1 .loveheading {
    font-size: 30px !important;
    letter-spacing: 2px;
}
form#regForm .hp{
    font-size: 30px !important;
}

.dotted-box .head1:before,.dotted-box .head1:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f006";
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 30px;
    color: #F69295;
 }
.dotted-box .head1:before{
    margin-right: 25px;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(57deg);
    -moz-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    -o-transform: rotate(57deg);
    transform: rotate(57deg);
    display: inline-block;
}
.dotted-box .head1:after{
    margin-left: 25px;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
}

form#regForm p {
    line-height: 28px;
}
.second-line{
    color: #404040 !important;
    font-size: 18px !important;
    margin: 30px 0px;
    font-weight: 550;
    margin-bottom: 42px;
}
.dotted-box{
    border: 2px dotted #f69295;
    width: 645px;
    min-height: 245px;
    margin: 0px auto;
    padding: 20px;
    max-width: 100%;
}
.vip-access{
    font-family: 'Open Sans' !important;
    font-size: 21px !important;
    font-weight: 600;
    margin-bottom: 20px;
}
.button-container button{
    width: 240px !important;
    height: 45px !important;
    margin-top: 0px;
}
form#regForm p{
    font-size: 18px !important;
    line-height: 26px;
}
form#regForm p b{
    font-weight: 600 !important;
}

@media only screen and (max-width: 767px) {
    form#regForm .hp{
        line-height: 35px;
    }
    br{ display: none;}
    .tab-top-space{
        width: 80%;
        margin: 0px auto;
    }
    .step3-img{
        margin-bottom: 40px;
    }
    
}

#regForm button i{
    -webkit-text-stroke: 2px #e99797;
}
.loveheading:before {
    top: -0.12rem !important;
    left: 0.15rem !important;
    color: rgba(22, 154, 165, 0.42);
    z-index: 1;
}
.loveheading:after{
    left: 0.2rem !important;
    opacity: 0.7 !important;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 380px) {
    .tab-top-space{
        min-height: 550px !important;
    }
}
@media only screen and (max-width: 500px) {
        .tab-top-space{
            min-height: 615px;
        }
        .dotted-box .head1:before,.dotted-box .head1:after {
            display: none;
        }
        .mobile{
            display: block;
        }
        .desktop{
            display: none;
        }
        .counter-box{
            display: block;
            line-height: 10px !important;
            margin-top: 20px;
            padding-bottom: 0px !important;
        }
        .tick-li{
            padding-left: 0px;
            font-size: 13px;
        }
        form#regForm h1 {
            font-size: 27px !important;
        }
        .tick-li i{
            font-size: 20px;
        }
        .head1 .loveheading{
            font-size: 27px !important;
        }
}