<app-header></app-header>
<div class="container">
    <div class="row">
      <form id="regForm" action="">
          <div class="tab tab-top-space">
                <div class="" >
                    <div class="row">
                        <!-- h1 class="text-center head1 desktop">
                            <span class="loveheading" title="YOU’RE ON THE GENERAL WAITLIST!">YOU’RE ON THE GENERAL WAITLIST!</span>
                        </h1>

                        <h1 class="text-center head1 mobile">
                            <span class="loveheading" title="YOU’RE ON THE ">YOU’RE ON THE</span>
                            <span class="loveheading" title="GENERAL WAITLIST!">GENERAL WAITLIST!</span>
                        </h1>
                    

                        <div class="second-line">You’re one step closer to unlocking your endless closet!<br>
                            We'll email you as soon as a spot opens up! </div>
-->
                        <div class="second-line" style="margin-top: 15px;">You're on the <b style="margin-top: 0px;">general waitlist</b>
                             and are<br> one step closer to unlocking your endless closet!<br> We'll email you as soon as a spot opens up!</div>
                        <div class="dotted-box">
                                <h1 class="text-center head1  ">
                                    <span class="loveheading" title="WANT VIP ACCESS?"> WANT VIP ACCESS?</span>
                                </h1> 

                                <span class="counter-box" style="font-size: 14px; padding-bottom:20px;">Your spot on the Waitlist is being held for the next: 
                                        <b><countdown #countdown [config]="{leftTime: 300 }" (finished)="showFinishMessage()">$!m!:$!s!</countdown></b>
                                </span>
                                <div  style="text-align: left; width:400px; max-width: 100%; margin:0px auto; font-weight: 600; font-size: 16px;     margin-bottom: 20px;">
                                    <ul *ngIf="lastOrderCheck == 'false'" class="tick-li" style="list-style: none; line-height: 30px;">
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Front of the line access</li>
                                        <li *ngIf="ApplyBlackFriday == false"><i class="fa fa-check" aria-hidden="true"></i> <b>$30 OFF</b> your first month</li>
                                        <li *ngIf="ApplyBlackFriday == true" >
                                            <i class="fa fa-check" aria-hidden="true"></i> 
                                            <b>BLACK FRIDAY: 50% OFF</b> your first month
                                        </li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Surprise bonus item in your first order</li>
                                    </ul>

                                    <ul *ngIf="lastOrderCheck == 'true'" class="tick-li" style="list-style: none; line-height: 30px; padding-left: 0px; text-align: center;">
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Front of the line access</li>
                                    </ul>


                                </div>
                                      <!---  Join the VIP Waitlist to claim a one-time offer of <b>$30 off</b> your first month <br> 
                                        and get <b> priority access over the general waitlist! </b> -->
                                 
                                <div class="button-container">
                                    <button type="button"  (click)="gotoPlans()">Join Waitlist <img src="assets/img/Arrow-FashionPass.svg" /> </button>
                                </div>
                        </div>
                    </div>
                </div>


                </div>
      </form>
  </div>
</div>
<app-footer></app-footer>