.hide_mesg{
    display: none;
}
form#regForm p{
    font-size: 18px !important;
    margin-bottom: 23px !important;
}
.content-box i{
    font-family: 'Open Sans' !important;
}
.content-box b{
    font-weight: 600 !important;
}
.error{
    font-size: 14px !important;
    position: absolute;
    width: 100%;
    text-align: left;
    margin-left: 12px;
    margin-top: 5px;
}
form#regForm h1 {
    margin-bottom: 52px !important;
}
/*.email-box-home #email:focus{
    border: 2px solid #F69295 !important ;
    outline: none;
}*/
.email-box-home #email{
    max-width: 315px;
    width: 100%;
    text-align: left;
    padding-left: 10px; 
    height: 47px !important;
    border: 1px solid #404040;
    
}
.button-box-home{
    width: 172px;
    float: left;
}
.email-box-home{
    width: 340px;
    float: left;
    margin-right: 8px;
    position: relative;
    margin-left: 50px;
}
.content-box {
    max-width: 620px !important;
}
.email-box-home #email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #404040;
    opacity: 0.75; /* Firefox */
    font-weight: lighter !important;
    font-size: 18px;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #404040;
    opacity: 0.75; /* Firefox */
    font-weight: lighter;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #404040;
    opacity: 0.75; /* Firefox */
    font-weight: lighter !important;
  }


@media only screen and (max-width: 560px) {
        .content-box {
            max-width: 100%;
        }
        br{ display: none;}

        form#regForm span{
            font-size: 35px !important;
        }
        .button-box-home, .email-box-home{
            width: 100%;
            float: none;
            margin-bottom: 40px;
            margin-left:0px;
        }
        .email-box-home #email{
            width: 90%;
        }
        .error{
            text-align: center;
            margin-left: 0px;
        }
        .footer-area{
            position: absolute !important;
        
        }

    }

    form#regForm h1 {
        margin-top: 6px !important;
    }
.email-content-box   {  margin-top: 20px; }
