<app-header></app-header>
<div class="container">
  <div class="row"> 
      <ngx-spinner bdColor = "rgba(255, 255, 255, 0.8)" size = "default" color = "#000" type = "ball-clip-rotate-pulse"></ngx-spinner>
      <form id="regForm" role="form" [formGroup]="EmailForm" (ngSubmit)="submitEmailAddress()">
        <div class="tab tab-top-space step1_tab ">
            <!-- <img src="assets/img/pass-the-line.jpg" class="line"> -->
            <h1 class="text-center"><span class="loveheading" title="JOIN THE WAITLIST!">JOIN THE WAITLIST!</span></h1>

            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="content-box">                      
                      <p><i> Holy chic! </i> We’ve recently experienced a staggering increase in demand,<br>
                      but we can’t wait for you to be a part of the FashionPass girl gang!</p>

                      <p>Here at FashionPass we strive to deliver a <b>5-star experience</b> from <br>
                      the items you receive to the customer service you deserve. Because <br>
                      we truly care about each and every one of our members, we never <br>
                      want to sacrifice quality for quantity -<b> we promise it’ll be worth the wait!</b></p>
                      
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="content-box  email-content-box ">
                    <div class="email-box-home" > 
                        <input id="email" type="email" required formControlName="email"  placeholder="Email address"  (input) = "hideError()"  (focus)="checkError()" />

                        <div *ngIf="(showValidationError == true &&  EmailForm.controls.email.value.length == 0 ) || (showValidationError == true && EmailForm.controls.email.errors?.required && EmailForm.controls.email.dirty && EmailForm.controls.email.touched)" class="error">
                          *Email is required
                        </div>
                        <div *ngIf="(  EmailForm.controls.email.errors?.pattern && showValidationError == true && invalidEmailError != true  ) || EmailForm.controls.email.errors?.CheckFirstLetter" class="error">
                            *Email must be a valid email address
                        </div>

                        <div *ngIf="invalidEmailError == true   " class="error"  id="invalidEmailError">
                          *Email must be a valid email address
                        </div>

                        <div *ngIf="expandedError == true  && !EmailForm.controls.email.errors?.required" class="error"  id="EmailAlreadyTakenError">
                          *Email has already been taken
                        </div>
                    </div>
                    <div class="button-box-home">
                      <button type="submit" id="nextBtn"    >Submit</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div>
        </div> 
      </form>
  </div>
</div>
<app-footer></app-footer>